[2016-03-02 15:51] SimonSimCity opened #1 "Reinitialize download-items if app was relaunced"
According to the Xamarin documentation, the `DidFinishEventsForBackgroundSession` call is also done if the app is suspended or terminated.

In this case, the `CrossDownloadManager` should refill it's `Queue`.

Also check what Android does in this case. Are downloads actually kept in the background if the app is suspended or terminated?

[2016-03-02 15:53] SimonSimCity opened #2 "Add possibility to download a file on Wifi only"
On Android, you can add a restriction that a file only can be downloaded when a certain connection is used.

[code]

How is this possible on iOS? Should this be implemented in this library?

[2016-03-02 16:02] SimonSimCity opened #3 "Watch the progress of a file-download on Android"
The iOS implementation informs constantly when bytes are saved to the system, but the Android implementation leaves us alone with that.

One suggestion would be to write a file-watcher for that case:
http://stackoverflow.com/questions/7824835/android-downloadmanager-progress

[2016-03-03 10:40] #1 closed

[2016-03-03 16:04] #3 closed

[2016-04-07 23:02] JoshuaNovak919 opened #5 "How to use without MvvmCross"
How do I use this without MvvmCross?

[2016-04-08 21:27] SimonSimCity commented on #5
The part of the documentation about MvvmCross is only if you are using MvvmCross and want to register it within the service-container there.

If you are not using MvvmCross, simply ignore the code there. Maybe I should add "(optional)" to the headline there ...

[2016-04-08 21:29] JoshuaNovak919 commented on #5
I figured that much, but the next block of code does not work without MvvmCross, so I figured there was a different way.

[code]

There is no `CrossDownloadManager.Instance` if you don't use MvvmCross.

[2016-04-08 21:32] SimonSimCity commented on #5
It is. Just make sure you include the namespace `Plugin.DownloadManager`.

If you're using a system, where you have shared code, please make sure this library is included in the shared project as well as in the platform-specific projects.

[2016-04-14 06:42] SimonSimCity commented on #5
@JoshuaNovak919, if the last message didn't help you, please reopen this issue.

[2016-04-14 06:42] #5 closed

[2016-04-29 14:10] sgou opened #6 "New feature to download a file by assigning a string with a cookie if this is required."

[2016-05-02 08:38] SimonSimCity commented on #6
Can you please describe what this feature should look like? Specially the phrase "if it is required" is quite vague ... like ... how can I determine if it's required?

You can add cookies like every other header to each of the DownloadFile instances by adding them to the instance before starting the download (`downloadManager.Start(file);`) or by passing it to the `downloadManager.CreateDownloadFi

[2016-05-02 08:38] #6 closed

[2016-05-19 13:16] SimonSimCity opened #7 "iOS implementation awaits a url by UriForDownloadedFile()"
We currently handle the term `URI` a bit sluggish.

On Android, we actually use a path reference (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/0.2.0/DownloadManager/Plugin.DownloadManager.Android/DownloadFileImplementation.cs#L90 -> https://docs.oracle.com/javase/7/docs/api/java/io/File.html#File%28java.lang.String%29), but on iOS, we use a URL (https://developer.xamarin.com/a

[2016-05-19 14:03] #7 closed

[2016-05-19 14:04] deepakSP opened #8 "UWP Support"
any chance of adding uwp support ??

[2016-05-19 14:37] SimonSimCity commented on #8
If you create a prototype of how an implementation could look like, I'd be glad to accept a pull-request or help you along in every way I can.

I have an windows environment at hand, but no sample application where I could test an implementation with.

[2016-05-19 18:01] deepakSP commented on #8
i have added BackgroundDownloader in my uwp project so i will try to fork n implement.If all good wiill create new pull request

[2016-05-20 06:57] SimonSimCity commented on #2
It seems, that iOS has a similar setting ... https://developer.apple.com/library/mac/documentation/Foundation/Reference/NSURLSessionConfiguration_class/#//apple_ref/occ/instp/NSURLSessionConfiguration/allowsCellularAccess

[2016-05-27 12:26] SimonSimCity opened #9 "Exception: Cannot change ObservableCollection during a CollectionChanged event."
I lately got an exception on a remove-message within this library ...
Sadly, I don't have the full stack-trace, but it was raised by a collectionChanged trigger ...

That time it happened on iOS.

[2016-05-27 13:59] SimonSimCity opened #10 "[Droid] SecurityException: Destination must be on external storage"
When downloading the data to `Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments)`, I get the following SecurityException: `Destination must be on external storage: file:///data/data/org.example.app/files/testfile.bin`.

Why can't I store stuff at the path I decided?

[2016-05-27 14:01] SimonSimCity commented on #10
Seems not to be possible. See: http://www.codeproject.com/Questions/1010781/Downloading-file-to-data-data-packagename-files-In

Here's some additional hint if you have dificulties if you are deciding where to store the stuff: http://stackoverflow.com/questions/28427267/how-to-get-the-external-storages-path

[2016-05-27 14:01] #10 closed

[2016-06-01 08:22] Ruddy2007 opened #11 "Cannot find any definition"
Does this work anymore? There is no sample code to look at and following the guide you have I cannot get it working. I just get errors as it cannot find anything inside the plugin.

I can init the plugin for IOS and Android but cannot use it after.

`var downloadManager = CrossDownloadManager.Instance;`

Instance is not defined within CrossDownloadManager. Is this a problem with the plugin or am I

[2016-06-01 08:30] SimonSimCity commented on #11
Oh, I'm sorry ... I meant `CrossDownloadManager.Current` - not `CrossDownloadManager.Instance`. I'll change it right away.

[2016-06-01 08:30] #11 closed

[2016-06-01 08:31] Ruddy2007 commented on #11
Ah makes sense, I just looked into it and found it. Cheers.

[2016-06-01 08:33] SimonSimCity opened #12 "Add a sample project"
As suggested by @Ruddy2007, we need a project where we show a sample implementation and maybe some extended features, that are hard to describe in code.

[2016-06-01 08:38] Ruddy2007 commented on #11
@SimonSimCity  Also

`var file = downloadManager.CreateDownloadFile (url);`

should be

`var file = downloadManager.CreateDownloadFile (url, null);`

by default as it accepts headers as a second param?

[2016-06-01 08:41] SimonSimCity commented on #11
I have to provide a proper default there. The system currently only accepts a `new Dictionary<string, string>()` as second parameter and it seems to crash if you provide `null` there.

[2016-06-01 08:45] SimonSimCity opened #13 "Add `CreateDownloadFile()` method without second parameter"
Please add the method `CreateDownloadFile()` without a second parameter to the interface `IDownloadManager`. As of the current implementation, the library will throw a `NullReferenceException` exception if you pass `null` there.

Current workaround:

Call `CreateDownloadFile()` and set `new Dictionary<string, string>()` as second parameter.

[2016-06-01 10:51] Ruddy2007 commented on #12
@SimonSimCity I was working on a demo for this but I can't even seem to get it working at the moment. Not sure what I'm doing wrong, if you get around to making a simple project please could you let me know so I can take a look. Cheers.

[2016-06-01 13:33] carlosgtzrdz commented on #12
Me too.... any sample?

[2016-06-01 13:54] Ruddy2007 commented on #12
@carlosgtzrdz Im still working on it but no luck. Can't get the download to start up, really can't find why yet. Seems to be a pretty simple idea but no luck.

[2016-06-01 13:56] Ruddy2007 commented on #12
Also @SimonSimCity you changed `UriForDownloadedFile` to `PathNameForDownloadedFile`. That need's to be changed on the front page too.

[2016-06-01 14:32] SimonSimCity commented on #12
@Ruddy2007, @carlosgtzrdz I've added a sample implementation.

Please check it out (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/tree/master/Sample) and tell me what I've missed out in the manual.

If you have time, feel free to improve this sample.

[2016-06-01 14:32] #12 closed

[2016-06-01 14:50] SimonSimCity commented on #13
Fixed by https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/commit/9b327bedf36529a46738a539347e01a41e3a6399

[2016-06-01 14:50] #13 closed

[2016-06-01 17:33] carlosgtzrdz commented on #12
@SimonSimCity  I got it working... thnx dude! very clean!

[2016-06-02 07:33] Ruddy2007 commented on #12
@SimonSimCity Cheers for the sample, going to take a look now. Just one think, when I opened the sample it didn't have the plugin in the packages. Shouldn't this be in there and just restore when opened? (just an idea).

Will let you know if I run into any problems, cheers again.

[2016-06-02 07:36] SimonSimCity commented on #12
@Ruddy2007 The sample project doesn't link the packages from nuget, that's right. But that's done because I want to compile the sample project against the actual development-projects, that are in the same solution. Those should be linked to the projects.

[2016-06-02 08:47] SimonSimCity commented on #12
@Ruddy2007, I've tested the sample project and can confirm that the Android version failed. I guess I forgot to clean the project before compiling again.

Please check out the version I've uploaded now - that works for me after cleaning every cache I could find. I've also added some comments that should help you avoid some pitfalls.

If you only want to see the changes I did to the project, see he

[2016-06-02 08:52] Ruddy2007 commented on #12
@SimonSimCity Cheers. I have been working on the IOS one and I have it working now. Works pretty well, just trying to get my head around how to update the UI on my application when downloading (moving views etc). Thanks for your work on this, sample has helped loads.

[2016-06-02 08:54] SimonSimCity opened #14 "iOS: Implement all methods on NSUrlSessionDownloadDelegate"
We've implemented a couple of methods of the `NSUrlSessionDownloadDelegate` object (or iOS calls it a protocol ..) in our implementation (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/master/DownloadManager/Plugin.DownloadManager.iOS/UrlSessionDownloadDelegate.cs).

What people easily could mistake is, that they, when extending the class `UrlSessionDownloadDelegate`, they must

[2016-06-02 08:58] SimonSimCity opened #15 "iOS: Method getDownloadFileByTask on UrlSessionDownloadDelegate should have the visibility `protected`"
If a programmer extends the class `UrlSessionDownloadDelegate`, he'll only get a iOS task. He probably also wants to get hands on the wrapper-task, we have in the CrossDownloadManager.

Please change the visibility of the method `getDownloadFileByTask()` to `protected`, so also programmers extending the functionality of that class can use it.

[2016-06-02 13:30] carlosgtzrdz opened #16 "Is there a way to leave the notification of the download in the notification bar"
Is there a way to leave the notification of the download in the notification bar?, and when the user click it... android will opened with file with the default app....

Regards! thnx Simon!

[2016-06-02 15:33] SimonSimCity commented on #16
Oh yea ... that could've been valuable to add to the sample project.

Here's what I know about it.

Add the following lines to the Activity that is opened when your app appears again. If you have many Activities it could open up with, I guess you have to add it to them all:

[code]

And add the following class:
[code]
It's copied from an old sample, so you may need to remap some namespaces :wink:

[2016-06-07 06:21] SimonSimCity commented on #9
An advice I got was to use a synchronized version of the collection (https://github.com/CoryCharlton/CCSWE-Libraries/blob/e580b97e2b2c4f17826f268d654813e87d6c99e3/Source/Core/Collections/ObjectModel/SynchronizedObservableCollection%601.cs) or to lock the collection when items are added or removed. We could in addition just give away a copied version of the list (of list only, not a copy of the ite

[2016-06-10 11:26] #15 closed

[2016-06-10 11:40] SimonSimCity commented on #14
Fixed in f917d8ee95d5b2ab2f12d9dbf0c27d4b13b81056

[2016-06-10 11:46] #16 closed

[2016-06-14 08:03] SimonSimCity opened #17 "Android: Clean up the DownloadManager queue"
Do we have to clean up the DownloadManager queue? Please test if the system keeps track of all the successfully downloaded files or if it's more like a temporary queue.

https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/commit/14b67698fe8488cb95351a933590dc934f6cf4e3#diff-a27810e87ac4ea1f840fd2e699c41639R87

[2016-06-14 08:06] SimonSimCity commented on #10
Update: There's now a way to download files without providing a location. By that, you can copy the file to your private storage after the download is completed. See https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/commit/14b67698fe8488cb95351a933590dc934f6cf4e3

[2016-06-20 09:34] Ruddy2007 opened #18 "Adding to the queue and starting the download"
I am going to be using this for a project that will download 1000+ files. I would like to add each of the files into the queue and then start the downloader. Is there a way I should handle this?

As `IDownloadManager.Start() ` accepts a `IDownloadFIle` I'm not sure how to start the download after creating the queue.

Any help would be great.

[2016-06-20 10:04] SimonSimCity commented on #18
Hi, Ruddy

The concept behind this, is that the DownloadManager on each of the platforms are services, running in the background. By fetching your instance of IDownloadManager for the first time, you hook it up to the native DownloadManager. That's also when the Queue is filled with the downloads, currently running (remember, on iOS downloads will continue if your app is closed or crashed and will

[2016-06-20 10:33] Ruddy2007 commented on #18
@SimonSimCity I see, that does make sense. Thanks for your fast reply.

Another one for you if you don't mind!

I am trying to use this all from Xamarin forms. How can I do `PathNameForDownloadedFile` for a PCL? Again i'm not sure how to handle this. Is this possible or do I have to handle this from the IOS side (trying to get as much of this working on Forms).

[2016-06-20 12:03] SimonSimCity commented on #18
Please create a new issue next time. People, searching a solution for that one won't look into this issue.

It should work if you set the property `Plugin.DownloadManager.Current.PathNameForDownloadedFile` to the desired destination. I saw that there's a PCL storage plugin - maybe it's a good way to use it in combination with mine.

If not, you could also set it by compiler-flags: https://develope

[2016-06-20 12:03] #18 closed

[2016-06-20 14:41] Ruddy2007 commented on #18
I seem to be running into some problems using the plugin for this many files.

This is how I have set it up and it seems to work up till 100 files then seems to redownload the same file and then stop. Any pointers?

[code]

[2016-06-20 14:54] SimonSimCity commented on #18
The method, passed to the property `PathNameForDownloadedFile`, is a method that should be set `before` the first DownloadFile is created. There's no need to create it again once it has been specified.

In order to have it working on iOS, you need to set it when your app is initialized, not when you start downloading the file. The system otherwise won't save the file if your app fells asleep and w

[2016-06-21 16:56] jamesmontemagno opened #19 "[Android] Include permission in manifest automatically"
A nice pattern is if your plugin requires a permission you can add an assembly attribute:

https://github.com/jamesmontemagno/Xamarin.Plugins/blob/master/Media/Media/Media.Plugin.Android/Properties/AssemblyInfo.cs#L18-L19

[2016-06-21 16:57] jamesmontemagno opened #20 "[Android] Automatically request permission"
You could follow the practice I have done here:
https://github.com/jamesmontemagno/Xamarin.Plugins/blob/master/Media/Media/Media.Plugin.Android/MediaImplementation.cs#L147-L163

Or simply link people to my permissions plugin to handle and request the permission before attempting to start a download.

[2016-06-21 16:58] jamesmontemagno opened #21 "[Android] CurrentActivity plugin to remove Init"
If you happen to use the permission plugin or if you don't you can rely on the Current Activity plugin: https://github.com/jamesmontemagno/Xamarin.Plugins/tree/master/CurrentActivity to grab the current activity that is visible. This would do away with the Init() call.

[2016-06-21 16:59] jamesmontemagno opened #22 "Platform Support Grid"
You can grab this template and modify it to help developers easily see what is supported:

**Platform Support**

|Platform|Supported|Version|
| ------------------- | :-----------: | :------------------: |
|Xamarin.iOS|Yes|iOS 7+|
|Xamarin.iOS Unified|Yes|iOS 7+|
|Xamarin.Android|Yes|API 14+|
|Windows Phone Silverlight|Yes|8.0+|
|Windows Phone RT|Yes|8.1+|
|Windows Store RT|Yes|8.1+|
|Windows 10 UW

[2016-06-22 03:07] larghi-truelogic opened #23 "[iOS] DownloadManager doesn't work"
I've a XF project for iOS and Android. The Android version is working without problem. The iOS version doesn't work, doesn't trigger any callback any action whatsoever.

This are my files:

- [Info.plist](https://gist.github.com/larghi-truelogic/9cb95bb1a38219943b856a5293b19960)
- [AppDelegate.cs](https://gist.github.com/larghi-truelogic/0bdb0d34d3024ce387b310a476f79a5f)
- [Where I'm calling the l

[2016-06-22 07:47] SimonSimCity commented on #19
Thanks for this information. Currently it depends on your implementation if you need the permission `WRITE_EXTERNAL_STORAGE` - that's why I chose to only note it down in the manual.

Even if it's the recommended way to write to a location outside the app (what requires the permission), you can download the file to a temporary directory by not providing any destination directory. But I'll check if

[2016-06-22 07:47] #19 closed

[2016-06-23 07:49] SimonSimCity opened #24 "[Discussion] What's a reasonable amount of downloads the native DownloadManager should be able to handle?"
Some of the native DownloadManager implementations seem to have limitations in either memory or amount of items you can add to the queue.

Here's a quote for iOS, where it seems like a memory limitation:

Source: https://forums.developer.apple.com/thread/11621#31736

The  recommended to batch the download-requests if we get over 100 on iOS.

Please also find out if that's needed on Android.

[2016-06-23 07:59] SimonSimCity commented on #23
Are you downloading your data from an insecure connection (http instead of https)? If yes, you'd need to make sure, you added the domain (inkl subdomain) to your Info.plist file (see: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/commit/ebcf1a591429d7282e7eb448ded6de83f883de97#diff-426319ec884bb2430b965a63dd37bd18)

For debugging, I'd register your own `UrlSessionDownloadDelegate` (

[2016-06-23 08:01] #22 closed

[2016-06-23 09:22] SimonSimCity commented on #21
@jamesmontemagno, do you know if there is a way to reduce the code the user has to add for a life-cycle? I have to initialize it in some way ... before I just called the Init() method on the activity, but I guess the solution I now have is a bit cleaner, isn't it?

[2016-06-23 09:58] SimonSimCity commented on #20
I named it in the manual, so the users themselves can decide how to handle it.

[2016-06-23 09:58] #20 closed

[2016-06-23 16:29] larghi-truelogic commented on #23
Yes in both in my `Ìnfo.plist` you can check that I'm allowing insecure connections. And in my `AppDelegate` as you can see I'm using an `ExtendedUrlSessionDownloadDelegate.cs`. There's no way of debbugin the library so I can check step by step. The weird thing is that there's no error log message related to the library, once that I executed `downloadManager.Start(file)` or `CrossDownloadManager.C

[2016-06-23 20:10] jamesmontemagno commented on #20
Perfect :) thanks

[2016-06-23 20:10] jamesmontemagno commented on #19
Ah gotcha, I didn't realize that it was optional :) Good to know.

[2016-06-24 13:09] larghi-truelogic commented on #23
Sorry It was the simulator I tried in an iPhone 6s device and It worked perfectly! Sorry for wasting an issue.

[2016-06-24 13:09] #23 closed

[2016-06-24 13:13] SimonSimCity commented on #23
Nice to know ... Haven't had those kind of problems with the simulator before ... but if it works on a real device, that's what counts, right? :wink:

[2016-06-30 14:55] Ruddy2007 opened #25 "[iOS] Specified cast is not valid."
When leaving items in the download queue and exiting the application (fully closing it) then reopening I am getting this error:

Do I have to handle this? Shouldn't it be handled already?

[2016-07-01 06:25] SimonSimCity commented on #25
@Ruddy2007 Do you have the possibility to post the full stack-trace? This is just a single line of it and it shows me where the error occurred, but not what the reason was.

[2016-07-01 07:33] Ruddy2007 commented on #25
Thats all it gives me.

[2016-07-01 13:19] Ruddy2007 commented on #25
@SimonSimCity Any luck with this? Was hoping you would be able to help with this, its causing a big problem for my application at the moment.

[2016-07-01 13:21] SimonSimCity commented on #25
I'll have a look at it as soon as I can reserve some time for it. In the meanwhile, you can (if this is urgent for you) fork the project, check it out, add it to your solution and replace the nuget-reference with the project-reference. Then you should be able to take a look at the code itself and see what I did wrong, correct it and send me a pull-request.

[2016-07-03 13:57] SimonSimCity commented on #9
Can't see this exception rising again ... closing it for now. I'll may reopen it and take a closer look at it when I get it again. Maybe it was just something that was because I ran a bunch of long triggers when the queue changed.

[2016-07-03 14:25] SimonSimCity commented on #21
By the latest changes, I got it so far, that I just needed the current activity to initialize a service. Today I found out, that this equally can be done by the static property on `Application.Context`, so I dropped the dependency again.

Thanks for your hint. Now the user skips to call that `init()` method and still has all the service.

[2016-07-03 14:25] #21 closed

[2016-07-04 09:27] Ruddy2007 commented on #25
@SimonSimCity  Thanks for fixing this so quickly!

[2016-07-04 13:45] SimonSimCity opened #26 "iOS: DownloadManager seems to wait until downloading when providing Authentication-header"
If I try to download a file, where I've added the credentials in the request, the system seems to wait until the app either get's inactive or is at sleep.

[2016-07-04 13:47] SimonSimCity commented on #14
We MUST NOT do this. On iOS, you have the option to define an interface (they call it a protocol) in a weak way. This means, you don't have to implement every method, which results in, that you can't call the base-method.

But on iOS side, the system can check if the method has been implemented. Today I experienced this as the system started to call a method and awaited that the implementation als

[2016-07-04 13:56] SimonSimCity commented on #26
We had a plain implementation for `DidReceiveChallenge(NSUrlSession session, NSUrlAuthenticationChallenge challenge, System.Action<NSUrlSessionAuthChallengeDisposition, NSUrlCredential> completionHandler)` that was called in order to provide a better way of solving a challenge, sent by the server. As our implementation just was empty, the system waited until the app went asleep and tried to solve

[2016-07-04 13:59] #26 closed

[2016-07-04 14:02] #14 closed

[2016-07-07 09:20] SimonSimCity commented on #9
Raised again ...

[code]

[2016-07-20 09:26] JoshuaNovak919 opened #27 "Get URL of downloaded file"
How can I get the url of the downloaded file or the path that it is downloading to by default?

[2016-07-20 10:14] SimonSimCity commented on #27
Sorry, I forgot to mention that and neither created an example for it as I promised in the documentation.

On iOS, I'd always set the property, as the recommended option shows (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager#recommended-option---custom-location), because the system anyways just copies the file after the download is done. If you don't want this behavior, please extend

[2016-07-20 10:14] #27 closed

[2016-07-20 19:02] JoshuaNovak919 commented on #27
I'm a bit confused with the Android code you gave. Where are you getting `IStorageManager`? Also, i'm not using Mvx and i'm using Xamarin.Forms, so i'm a bit confused how I would make this work.

[2016-07-20 20:03] SimonSimCity commented on #27
Here you need platform-specific code. I don't know if and how easy that's possible with Xamarin.Forms - I've never used it. But it shouldn't be as hard, as you also have an `Application` class in your Android project, right?

`IStorageManager` is something I wrote on my own to have a more flexible implementation for storing data than what the `PCLStorage` package provides me. The rest of the code

[2016-07-20 22:42] JoshuaNovak919 commented on #27
For some reason i'm getting things like this `content://downloads/my_downloads/65` for source. It's not using the file name, but showing the number. Is there a way to get the actual url to the file so I can open it with PCL Storage?

[2016-07-21 06:21] SimonSimCity commented on #27
It isn't that easy to get the native path, as Android likes to have an abstraction overlay for your app. This pays off for them and you, as you don't have to care about paths if the user, while having the app running, chooses to move it from the internal to the external storage.

I would stick to using `Android.Content.ContentResolver.OpenInputStream()` to get the stream of the file and move it to

[2016-08-30 09:46] AeonDave opened #28 "[Exception] [__NSURLBackgroundSession getAllTasksWithCompletionHandler:]: unrecognized selector sent to instance 0x183022f0"
I got an exception while creating File

String.downloadurl is a string like http://www.foo.com/file

i'm loading it on an iPad mini with last ios os
could you help me?

[code]
[Exception]

 -[__NSURLBackgroundSession getAllTasksWithCompletionHandler:]: unrecognized selector sent to instance 0x183022f0
 Xamarin.iOS: Received unhandled ObjectiveC exception: NSInvalidArgumentException -[__NSURLBackgr

[2016-08-30 10:09] AeonDave commented on #28
this is the crash poit inside the plugin

[code]

[2016-08-30 11:04] SimonSimCity commented on #28
Thanks for reporting the error. Do you also have a full stacktrace?

If you've time, it would also help a lot if you create a fork of this project and manipulate the sample project so it crashes - but with the fewest changes :wink:

[2016-08-30 13:23] AeonDave commented on #28
really sorry, is a native crash, i cannot print the error. this is all i get from console.
this crash fire only with an ipad mini. that's strange anyway.

[2016-08-30 13:33] SimonSimCity commented on #28
@AeonDave What version of iOS is installed on the iPad mini?

[2016-08-30 14:30] AeonDave commented on #28
8.1.2 (12B440)

[2016-08-30 15:16] SimonSimCity commented on #28
Right ... haven't thought about that when writing this code. `_session.GetAllTasks()` is only available at iOS9+, but I've already found another method that is available since iOS7+.

[2016-08-30 15:37] #28 closed

[2016-08-30 15:37] AeonDave commented on #28
Great!
is there any possibility to POST data  to gain a file? (not through header)
es:
i have a webservice that deliver a file only if you post a token and an id

[2016-08-31 06:35] SimonSimCity commented on #28
Please create a new issue for this request.

Can you confirm that it works now if you build the sample project?

[2016-08-31 15:02] AeonDave commented on #28
i can confirm, it works like a charm.

i'll open another issue for that ok?

2016-08-31 8:35 GMT+02:00 Simon Schick <notifications@github.com>:

[2016-09-06 13:03] SimonSimCity commented on #28
Fixed in version 0.7.1 - now available on https://www.nuget.org/packages/Xam.Plugins.DownloadManager/

[2016-09-06 16:47] AeonDave opened #29 "POST data"
Hello!
is there any possibility to POST data to gain a file? (not through header)
es:
i have a webservice that deliver a file only if you post a token and an id.

Bye

[2016-09-09 19:17] SimonSimCity commented on #29
@AeonDave Can you try to create a fork of this project and update the sample, including the library, that I pack and upload to nuget.org, to get it working?

For iOS, the request has a `HttpMethod` property you could try to set to `POST` - but not on Android (see http://stackoverflow.com/questions/15186516/android-http-post-download-manager). Could you try it out if it would work for iOS?

[2016-09-12 10:52] SimonSimCity opened #30 "Inform if copying of files didn't work (f.e. because disk is full)"
Add some type of notification somewhere that the user can use if something unexpected occurred while saving the data - like your disk running out of free space.

[2016-09-20 12:03] fela98 commented on #9
I also get the exception...

I think the problem is that an ObservableCollection is not originally thread safe. The problem occurs for me when there are two different threads accessing and modifying the Queue. When they suddenly try to do it at the same time we get an InvalidOperationException.

Another example of how to implement a ThreadSafe Observable Collection can be found in Robert Frasers a

[2016-09-30 13:48] #2 closed

[2016-09-30 14:43] SimonSimCity commented on #2
You can find a sample implementation here: 6670aef4e5b6d3395cd16bfb5bed3d83209b284f

[2016-10-01 12:49] SimonSimCity commented on #17
On Android, most of the systems I've worked with, have an app called `Downloads` where all finished downloads are listed, no matter where you stored it.

To remove the downloads your app did from this list, you have to remove it manually after the download has finished. See the example: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/commit/60feaa0856b87a808aa767e0106b4c6a6f38c5f6

Th

[2016-10-01 12:49] #17 closed

[2016-10-26 19:47] VitaliiLytvynov opened #32 "iOS reinitialize tasks"
Can not reinitialize tasks that were started before the app was terminated or suspended.
And if I try to start download these urls again, app will crash.

[2016-10-27 06:19] SimonSimCity commented on #32
@VitaliiLytvynov Can you please send me a crash-report next time you see it failing?

I can't reproduce it ... it works for me ...

[2016-10-27 10:49] VitaliiLytvynov commented on #32
This is what I have in application output.

[code]

Actually it happens when GetTask2() in DownloadManagerImplementation calls.

If I set there a breakpoint on this line:

`Queue.Add(new DownloadFileImplementation((NSUrlSessionDownloadTask)task));`

I receive this message in application output:

`MmvMMTravelIOS[3769:3577170] A background URLSession with identifier de.michael-mueller-verlag.MMTrave

[2016-10-27 12:55] SimonSimCity commented on #32
Ok, this stacktrace tells me something about `Specified cast is not valid.` and I guess I know where it occurs.

Can you checkout master and see if the system now works as you expected? As soon as you've approved it, I'll publish a new version to NuGet.

[2016-10-27 16:25] VitaliiLytvynov commented on #32
Nice.
It works.

Thank you for a fast response.

[2016-10-27 16:46] SimonSimCity commented on #32
@VitaliiLytvynov Can you check if the downloads, that were running when the app was suspended, are resumed?

[2016-11-02 15:11] VitaliiLytvynov commented on #32
Yes it works.

[2016-11-08 14:18] SimonSimCity commented on #32
Just released 0.9.1 fixing this bug.

[2016-11-08 14:18] #32 closed

[2016-11-08 14:20] SimonSimCity commented on #8
@deepakSP What progress have you made until now? Is there anything I can assist you with?

[2016-11-16 15:15] VitaliiLytvynov opened #33 "[Android] Can not download large files"
Status is always in a running state but a file does not downloading.

Tried also your example with this download link: "http://www.speedtestx.de/testfiles/data_256mb.test" (256mb)

Does not work, same behaviour.

[2016-11-17 08:03] SimonSimCity commented on #33
Have you tried the sample I put in this project?

Please give it a try again. I've updated quite much on the Android implementation.

If it still turns out to have the same result, please tell me what version of Android you have.

[2016-11-17 08:06] SimonSimCity commented on #30
The library now successfully supports reporting these issues.

Android: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/master/DownloadManager/Plugin.DownloadManager.Android/DownloadManagerImplementation.cs#L173\\
iOS: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/master/DownloadManager/Plugin.DownloadManager.iOS/UrlSessionDownloadDelegate.cs#L100

[2016-11-17 08:06] #30 closed

[2016-11-21 15:08] VitaliiLytvynov commented on #33
2.3.7 - Can install app, but it crashes in the start
4.1.1 - Does not work
4.2.2 - Does not work
4.3 - Does not work
4.4.4 - Does not work
5.0.0 - Works well
5.1.0 - Works well
6.0.0 - Works well

[2016-11-21 16:21] SimonSimCity commented on #33
For the Android `2.3.7`, the library is built against the SDK in version 16, but to run it on Android `2.3.7`, you'd need to take it down to v10 at least. The main reason I've done this is because of the method `SetAllowedOverMetered()`, which is first available in v16. See https://developer.android.com/reference/android/app/DownloadManager.Request.html#setAllowedOverMetered(boolean)

If you want,

[2016-11-22 07:43] SimonSimCity opened #34 "[Android] Create our own download-manager"
Sooner or later, I guess we have to maintain our own version of a download-manager. #33 and #29 now more and more show the need for a self-maintained downloading service on Android.

[2016-11-22 07:45] SimonSimCity opened #35 "[Android] Stop downloading task without custom location"
There is some code in the Android version, that should be used for re-initializing download-tasks that haven't finished while the app was running.

As we can't surely say which tasks belong to our app when restarting the app (the browser may also has some items in there) and the filter for running, paused and queued tasks doesn't work on Android 4.x (see #33), I think the best option we currently

[2016-11-24 10:42] SimonSimCity commented on #35
Because we don't have an event when the app stops, we can set our own event by running a service:

* http://stackoverflow.com/questions/25207383/stop-android-service-when-app-is-closed-with-the-task-manager
* http://stackoverflow.com/questions/24406508/how-to-detect-application-exit-on-android
* http://stackoverflow.com/questions/19568315/how-to-handle-code-when-app-is-killed-by-swiping-in-android

[2016-11-26 20:37] SimonSimCity commented on #33
I've now done quite some changes to how error-reporting works on the Android version of this Package.

Downloading the smaller version (up to 100mb) works quite fine on all versions you mentioned, but as soon as you try the 265mb version, it seems to be quite buggy. Here are the results I had:

SDK Version | Android Version | Result
---------------|-------------------|----------
16 | Android 4.1.1

[2016-11-26 20:37] #33 closed

[2016-11-26 20:55] SimonSimCity commented on #34
Even if this is a java-example, I guess it could be a good starting point: http://stackoverflow.com/questions/3028306/download-a-file-with-android-and-showing-the-progress-in-a-progressdialog

[2016-12-06 07:08] SimonSimCity commented on #33
Just looked into it, because I just couldn't get over it ...

There are some commits on the Android platform for this service, that seem to be related to this: https://github.com/android/platform_packages_providers_downloadprovider/commits/master/src/com/android/providers/downloads/DownloadThread.java Specially the one at Feb 6, 2014 ...

[2016-12-06 07:15] SimonSimCity commented on #24
Seems like there was a limit of 1000 lines in the queue, that got removed in Android 5.0.0: https://github.com/android/platform_packages_providers_downloadprovider/commit/dffbb9c4567e9d29d19964a83129e38dceab7055#diff-c98b2c2fe66ec5124246dd51f019e26aL135

[2016-12-28 08:04] #9 closed

[2016-12-30 15:13] jamal-deen opened #36 "The type or namespace name IDownloadFile couldn't be found"
I have run the [sample](https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/tree/master/Sample) project successfully. In my project I am going to download a file from `URL`, So I have planned to use your `NuGet plugin`.
I have pasted the `Downloader.cs` file from sample project to my project. It shows this error `the type or namespace name IDownloadFile couldn't be found(are you missing a

[2017-01-04 07:46] SimonSimCity commented on #36
@jamal-deen I don't fully understand the versioning you write about here.

You wrote, that you've added the nuget package in version 1.0.0.1 - but there's no version out here that has reached the 1.x state. I have published a `0.10.0` version lately, that's right (https://www.nuget.org/packages/Xam.Plugins.DownloadManager/).

All classes within this package are located at the namespace `Plugin.Dow

[2017-01-04 08:51] jamal-deen commented on #36
I have used this `NuGet` plugin https://www.nuget.org/packages/Xam.Plugin.DownloadManager/  instead of using your's https://www.nuget.org/packages/Xam.Plugins.DownloadManager/ . just now I have removed the previous plugin and added your's. I will let you know once I have done.

[2017-01-04 08:55] SimonSimCity commented on #36
Thanks. I'll close this issue for now. If you have any other questions, please open a new issue.

[2017-01-04 08:55] #36 closed

[2017-01-04 09:55] jamal-deen commented on #36
Thanks lot you.

[2017-01-26 20:19] candidodmv opened #37 "[Android] Notification area not cleaned"
Hi,
Congrats by this amazing plugin. But, there is some option to set for that after complete download not clean form notification area? keep that file name for that case the user wants open externally another moment, even that downloader app was closed. This will be very useful, because at moment after download is finished the manager remove that notification from message area.

Thanks so much!

[2017-02-03 19:38] cjw1115 opened #41 "why not add an async support"

[2017-02-05 09:31] SimonSimCity commented on #41
The download-manager is also meant for bigger downloads. Using an async approach sounds like you want to handle many small downloads.

Since all of the download-managers are build to continue after your app has been destroyed, using async methods do not work.

What's your reason to use async methods?

[2017-02-05 09:36] SimonSimCity commented on #37
Thanks for the response @candidodmv.

I do not fully understand what you mean here.

On Android, the download is handed over to the locally implemented Download service, provided by Android itself. It shows all downloads (despide the source) in a single notification and just notifies the user if all those downloads are finished. If you vote for that this plugin should implement it's own download-m

[2017-02-05 12:05] cjw1115 commented on #41
Thanks.
I try to finish the uwp version of your Download-Manager,but in the uwp,almost all apis are async method in storage and network. I can't use the interface in the current version.(I am in lower level about coding.)
So I'd like sugest to add an async support that like the BackgroundDownloader in uwp.Perhaps we will get a better experence in coding.

[2017-02-05 12:23] SimonSimCity commented on #8
Just found an interesting link to this topic: https://msdn.microsoft.com/en-us/windows/uwp/networking/background-transfers

[2017-02-05 12:24] SimonSimCity commented on #41
@cjw1115 Ok, it now sounds completely different to what I thought in the beginning. Since you want to implement the download-manager for UWP, I suggest you should clone this repository and start off with a reading here: https://msdn.microsoft.com/en-us/windows/uwp/networking/background-transfers

I, sadly, neither have Windows on my laptop, neither do I have a windows-phone. So I can't test or pro

[2017-02-05 12:24] #41 closed

[2017-02-15 20:44] samirgc opened #42 "I already got the output now problem is that where is my locally saved file l I am unclear about answer thatyou have given below? ?"

[2017-02-16 06:58] SimonSimCity commented on #42
Please take a look at the sample-project. It contains all the info you need - both for Android and for iOS.

If you want a dynamic location:
* https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/Droid/MainActivity.cs#L101
* https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/iOS/ExtendedUrlSessionDownloadDelegate.cs#L34

Or - if you provide

[2017-02-16 06:58] #42 closed

[2017-03-15 17:41] sirantd opened #43 "DownloadFileStatus.FAILED set based on got data, not on HTTP response code"
Some big players (like Amazon S3) provide extra info in body instead of file data (if you haven't permissions to download it).

#curl --head https://innapeace.s3-accelerate.amazonaws.com/servicesother_etcwfysgxv/6.mp3
HTTP/1.1 403 Forbidden
Content-Type: application/xml
Connection: keep-alive
x-amz-request-id: ED72D5E33707E497
x-amz-id-2: mkC6lBnZLeAm8mLv4DBWINT30z+6Ty3fDhlIvxQu4iuq0x6vql2fz6ouLlH

[2017-03-16 09:04] SimonSimCity commented on #43
This could well be a problem platform dependent problem - maybe also related to it's version. Please tell me which platform and version of it you're experiencing this with. If you've tested multiple, please list them all.

[2017-03-16 13:23] candidodmv commented on #37
No, it is exactly you said. The question is that after the plugin Xamarin-CrossDownloadManager pass to Android Download service the responsibility of download the file, there are some other options even of the URL of the file, such as configurations like that a flag to clean the notification at the notification area on Android, because, if I do download with other Android App for example with Chro

[2017-03-16 15:49] Ruddy2007 commented on #29
Also interested in this. There is no uploader around and it would be very handle to have doing the basics of uploading a file with progress controls. Any chance of implementing this to make a downloader / uploader. Would be amazing!

[2017-03-16 17:16] SimonSimCity commented on #37
I'd also vote for a self-written implementation of that one ... but as of now, I don't have the needed time to do it.

If you want to get to the download-handler of the file, you could try to get it yourself:

`(Android.App.DownloadManager)Application.Context.GetSystemService (Context.DownloadService)` gives you the native `DownloadManager`. If you then, on Android, run over the queue and cast eac

[2017-03-16 19:50] SimonSimCity commented on #29
@Ruddy2007 can you try on iOS, or are you mostly interested in Android?

[2017-03-16 21:08] sirantd commented on #43
Thanks for your comment.

I've checked and there really different behaviours on IOS and Android:

IOS (10.2, 10.1, 9.3) - when I trying to download file which return HTTP 403 status (mentioned in initial post) download manager returns Status = DownloadFileStatus.COMPLETED and StatusDetails = null

Android (API 24) - when I trying to download same file - download manager returns Status = DownloadFi

[2017-03-16 22:12] SimonSimCity commented on #43
The behavior on iOS you mentioned is not as expected. It's related to https://github.com/cocos2d/cocos2d-x/pull/14683 and I got it solved by the same fix.

For Android, it sounds like you have an old version. The demo provides me with the status-details `Error.HttpCode: 403` - but doesn't return the response-body. I've updated the iOS version to do the same.

Please add `https://www.myget.org/F/si

[2017-03-17 06:26] sirantd commented on #43
Thank you for bug-fix.

Seems now all ok, I've tested on IOS 9.3, 10.1, 10.2 and now get DownloadFileStatus.FAILED as I should on file with wrong permissions.

Unfortunately I still have null in StatusDetails, but will check my code.

[2017-03-17 20:49] candidodmv commented on #37
Yes, if there is some property that filfull this configuration, this approach will works!
Thanks

[2017-03-18 13:53] #37 closed

[2017-03-18 13:53] #43 closed

[2017-03-21 14:22] SimonSimCity commented on #8
@deepakSP, @Magic73, @adamashton, @cjw1115 I've now taken the time and wrote an implementation. Please check it out and leave some comments.

I met some restrictions concerning the destination of the downloaded files. Could you please check out this repo, read through the comments in the sample and help me finishing the implementation?

[2017-03-22 09:07] Magic73 commented on #8
I'm going to do some test, and in case I will give to you some feedback/changes.

[2017-05-11 10:40] SrCristian opened #48 "PathName"
How can I find the path and name of the file?

[2017-05-11 12:22] SimonSimCity commented on #48
You either set it or it's downloaded to a temporary storage, as written in https://github.com/SimonSimCity/Xamarin-CrossDownloadManager#where-are-the-files-stored

The sample in https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/tree/develop/Sample let's the system save the file in the temporary storage.

Does this answer your request?

[2017-05-16 03:55] alexandermontgomery opened #49 "[Android] Java.Lang.RuntimeException: Cursor window could not be created from binder."
Hey All - Love the library. It is good stuff. I am having one issue though. I am seeing this crash report in my app:

[code]

Digging a bit more into your library I can see in this file https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/03864003db7d5034786fa27eafe415572791755c/DownloadManager/Plugin.DownloadManager.Android/DownloadManagerImplementation.cs the crash is happening some

[2017-05-16 07:57] SimonSimCity commented on #49
The stackoverflow you've linked here could well be connected to this issue.

The method `StartDownloadWatcher()` calls the method `LoopOnDownloads()`, where it starts to query the download-manager in line 99 https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/03864003db7d5034786fa27eafe415572791755c/DownloadManager/Plugin.DownloadManager.Android/DownloadManagerImplementation.cs#L99.

[2017-05-16 13:40] alexandermontgomery commented on #49
Simon - thanks for getting back to me! I will continue to mess around with
it and see what it could be. The 'lots of files queued' is the obvious
answer but to run out of memory on a query like that it either means:

1) each file result from query includes the actual file binary in the
result object
2) There are 500+ files queued

I will try to look more into it but any help from you is much appre

[2017-05-21 17:54] muhaym commented on #8
Hi, I wish to contribute to the UWP part. Just to get started, can you please list out the issues and challenges faced by UWP project currently?

[2017-05-21 18:16] SimonSimCity commented on #8
@muhaym Thanks for your response.  I personally haven't used this library on UWP for quite a while now, so I'd myself have to dive into the code and check it out once more. Feel free to just clone it an run the UWP project in the sample-folder.

I can just remember having some troubles to define the file-destination when creating the download. Here's a comment that I wrote because the system restr

[2017-05-21 18:18] muhaym commented on #8
@SimonSimCity  Thanks. Looking forward to help with my current knowledge :)

[2017-06-06 14:08] SimonSimCity commented on #48
I guess it did ...

[2017-06-06 14:08] #48 closed

[2017-07-03 18:03] leoalvaleo opened #52 "[Android] Option to not show notification"
Hi there!

I would like to know if there is an option for not showing the notification on Android.
I need to download a video from a URL and the status of the download should all be inside my app. Something like Netflix, Udemy, Spotify (for audio), etc. Where the content of the downloaded file cannot be  used outside my app.

Thanks in advance!

[2017-07-11 04:29] rsavutiu opened #53 "Latest version 1.2.0 not available as Nuget"
Hi there,

Apparently the latest version is only available here, but has not made its way to Nuget Package Manager.

Between 1.1.1 and 1.2.0 it seems you have fixed callbacks on Android not being received properly (I would receive PENDING -> RUNNING and never completed) and only (5% of the totalbyteswritten callback).

Is there any way to add the source code to the Nuget Package Manager?

[2017-07-17 04:12] BtrJay commented on #8
Hi @SimonSimCity ,

Does UWP support the queued download? It seems iOS sample does work but not UWP.

After checking the UWP implementation, I've found that the file has never been added to a download queue for UWP.

Are there updates/fixes for this? I can open the pull request if there aren't

Kind Regards,

Jay

[2017-07-24 09:56] SimonSimCity commented on #53
@rsavutiu You can just download the repository and add the projects to the specific platforms you want to use it on. But I see, that the auto-deployment script failed - which is quite sad ...

I'll take some time today to get a VM ready where I can create the nuget-file.

[2017-07-26 17:08] SimonSimCity commented on #53
Thanks for waiting, I got my windows-machine back up and working 😃

https://www.nuget.org/packages/Xam.Plugins.DownloadManager/1.2.0

[2017-07-26 17:08] #53 closed

[2017-07-26 17:17] SimonSimCity commented on #52
I was quite busy the last month, but I'll have a look at it now. Currently there's no possibility, but I'll open up for something ...

[2017-07-27 07:41] SimonSimCity commented on #52
Does #56 answer your request?

[2017-08-10 08:42] GeetSh opened #57 "Display Notification when DownLoad finishes"
How can one display Notification/Alert when DownLoad finishes? Moreover, I want to display Activity Indicator, till the file is downloaded in Listview row.

[2017-08-10 09:34] SimonSimCity commented on #57
Since you're talking about activities, I guess you're talking about Android only, am I right?

[2017-08-10 12:24] GeetSh commented on #57
Thanks for Replying. I am working on Cross Platform. So, want to implement for Android & Ios.

[2017-08-10 14:27] SimonSimCity commented on #57
Android has a notification, that you might want to disable (please check the solution in #52, which I'll just merge if the author of the issue doesn't respond) or configure to only show when the download is finished.

In order to show some custom notification, just subscribe to the collection ( `CrossDownloadManager.CollectionChanged += (sender, e) => {}` after you've added the download and you're

[2017-08-11 09:00] GeetSh commented on #57
I had checked the sample project, it's for Android. But I am trying to display message(in Cross Platform) when Download completed.

[2017-08-11 10:08] SimonSimCity commented on #57
And because iOS doesn't have something built in, I'd disable it for Android (because it's for all apps using the download-manager) and build my own notification for it.

If you think you found something pretty good, you can create a pull-request and add it to this repo.

[2017-08-13 07:05] SimonSimCity commented on #8
If there isn't any other feedback, I'm going to close this as a limited version for now and call it done.

[2017-08-14 00:06] BtrJay commented on #8
Sure, it's done then

[2017-08-14 05:40] GeetSh commented on #57
Thanks Simon. In Portable project, I had used CrossDownloadManager.CollectionChanged and things worked out.

[2017-08-14 06:30] SimonSimCity commented on #8
@BtrJay What's your opinion on the issue I referenced earlier (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/UWP/MainPage.xaml.cs#L33)?

[2017-08-14 06:31] #57 closed

[2017-08-18 07:26] WarBorg opened #58 "Bait and Switch not working on latest VS2017 for Mac"
hello,

I have just update the visual studio 2017 for mac to the latest version (7.1 build 1297) today and I am keep getting this error when trying to use the CrossDownloadManager.Current

this worked ok in the past but now I see it is not anymore, any ideas ?

[2017-08-20 05:50] SimonSimCity commented on #58
@WarBorg Thanks for the feedback. I'm on the same build version of Visual Studio for Mac (community edition) and do not have the problem. Please try to check out this project and run the sample project. Does it work there?

I can remember also having had this problem and it worked again after cleaning up the project (remove`bin` and `obj` folders).

[2017-08-20 05:53] SimonSimCity commented on #52
Since there is no feedback in quite a while now, I'll merge my PR and close this.

[2017-08-20 05:53] #52 closed

[2017-08-20 19:55] WarBorg commented on #58
@SimonSimCity hey, I will try tomorrow the sample and see, I tried the clearing of all bin and obj folders and clean rebuild but running into the same issue, the thing is our application is modularised and we use separate iOS Libraries (and Android Libraries) as modules each with their own PCL Library. The DownloadManager is used only in one of the modules, and I am thinking the wrong DLL is being

[2017-08-21 07:43] TheMiao opened #59 "URL in the downloadManager.Queue is missing when calling abort"
I've using file= downloadManager.CreateDownloadFile(url); at beginning of the downloadfile.

When I call downloadManager.Abort(file); the url is missing in the IDownloadFile.

Will anyone have a look it and maybe fix it?

[2017-08-21 15:46] Naografix opened #60 "Download never completed/finished (Xamarin Forms)"
Hello,

I followed the sample tutorial and I made this code:

[code]

But as you can see, I have a problem... (check my debug output)

[code]

How can I fix this?

[2017-08-21 19:18] mhBahrami opened #61 "Changing visibility of notifications on Android"
I think, today, there is no option for changing notifications visibility for Android or iOS. I wanna make download's notification hidden on Android.

By adding the following code

to `StartDownload(DownloadManager, string, bool)` in `DownloadFileImplementation.cs` of `Plugin.DownloadManager.Android`, it would be done easily.

Can you add this capability to `CrossDownloadManager`?

[2017-08-22 06:53] SimonSimCity commented on #61
Does this PR answer your request? https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/pull/56

[2017-08-22 06:59] SimonSimCity commented on #60
Sorry, but I haven't seen this before ...

Where does the `FINISHED` come from you have in the last line?

Could you please check out my repository and check if you also see it failing there? If no, please go on and remove the nuget package in the projects in your solution, include my projects and link them correspondingly. Does it now happen again? If yes you could try debugging from there on ...

[2017-08-22 07:06] SimonSimCity commented on #59
What platform do you have this problem on? I can confirm it working on Android and iOS.

If it fails on one of these platforms, please check out this repository and run the sample. If it fails there as well, please include as much information about your development environment as possible.

[2017-08-22 08:21] Naografix commented on #60
Hello,

Sorry, FINISHED in the last line is add by me to say "no more line after Thread..."

I tried your solution, it works, but your code is in Android project, not in PCL (Xamarin Forms).

I use Android to deploy my solution

[2017-08-22 09:02] SimonSimCity commented on #60
My code is a PCL ... it's just not loaded as a nuget project. Since I haven't worked with Xamarin Forms before, I can only guess.

I guess you have a project containing the shared code and one containing the Android specific stuff, right? Import the project `Plugin.DownloadManager.Abstractions` of this repository into your projects, both, where you have the shared code and there were the platform

[2017-08-22 09:12] Naografix commented on #60
I have a Xamarin Forms solution with PCL not Shared project. I tried to switch my code (in my main post) in my Droid project and call it with the DependencyService. And... same... My download never finished.

[2017-08-22 15:06] mhBahrami commented on #61
Yeah. That's exactly what I need. Great job!

[2017-08-22 15:06] #61 closed

[2017-08-23 04:44] #59 closed

[2017-08-23 09:50] 9409215070 opened #62 "why i can not create LBIZZ folder and saved image in that folder ?"
CrossDownloadManager.Current.PathNameForDownloadedFile = new Func<IDownloadFile, string>(file =>
              {
                  string fileName = (new NSUrl(file.Url, false)).LastPathComponent;
                  Console.WriteLine("filename", fileName);
                  //var documents =Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments);
                  //var directoryname = Pat

[2017-08-23 11:27] SimonSimCity commented on #62
@9409215070 What platform do you use to test it? If Android, please check that you have the permissions required.

[2017-08-23 13:43] 9409215070 commented on #62
CrossDownloadManager.Current.PathNameForDownloadedFile = new Func<IDownloadFile, string>
                (file =>
            {
                var documentsDirectory = Android.OS.Environment.ExternalStorageDirectory.AbsolutePath;
                //string folderName = "LBIZZ";
                var pathString = System.IO.Path.Combine(documentsDirectory, "DownloadImages");
                if (!System

[2017-08-23 13:47] SimonSimCity commented on #62
Sorry, but I don't have the time to check this currently ... in addition, this is out of the scope of this project. https://github.com/dsplaisted/PCLStorage might be a resource that could help you ...

[2017-08-23 13:47] #62 closed

[2017-08-29 06:56] SimonSimCity commented on #60
@Naografix does this mean you were able to solve this? Can I close the issue?

[2017-08-29 06:56] SimonSimCity commented on #58
@WarBorg Have you had some time to look at it? I wasn't able to reproduce it ...

[2017-08-29 11:56] Naografix commented on #60
@SimonSimCity Yes you can, thanks

[2017-08-29 12:19] #60 closed

[2017-08-29 13:49] WarBorg commented on #58
@SimonSimCity sorry was really busy with work, the thing is the visual studio version is not the culprit since I tried it on an older version on a colegues mac and had the same issue, I will try to test the coming days , cheers

[2017-08-31 03:57] BtrJay opened #63 "UWP: Queue doesn't get updated straight away."
Hi @SimonSimCity ,

I've installed the latest plugin on my project (1.2.0) and found an issue on UWP.

The steps to replicate is
1) start downloading a file in UWP
2) check Queue object
3) the file hasn't been added to download queue straight away

            CrossDownloadManager.Current.Start (File, mobileNetworkAllowed);
            var queue = CrossDownloadManager.Current.Queue;     //This is

[2017-09-05 00:39] BtrJay commented on #63
Hi @SimonSimCity ,

Could you please advise us regarding the issue above?

Kind Regards,

Jay

[2017-09-05 07:20] SimonSimCity commented on #63
Thanks for getting again back to me on this issue. I was about to release a new version soon. Sadly, the automatic build stopped working and I haven't had the time to fix it - that's why there isn't a build available on myget ...

[2017-09-05 23:14] BtrJay commented on #63
@SimonSimCity

Thank you for that.

Please let me know when you publish the new version. (Hopefully soon)

Kind Regards,

Jay

[2017-09-08 07:24] pratikarya opened #64 "[Android] Cancel button on Notification does not change file status to DownloadFileStatus.CANCELED"

[2017-09-10 07:03] SimonSimCity commented on #64
@pratikarya please tell me what you use that you have a cancel button on your application ... Haven't seen that before.

[2017-09-10 08:11] SimonSimCity commented on #63
A new version has just been released 🎉

[2017-09-10 08:11] #63 closed

[2017-09-10 08:12] SimonSimCity commented on #8
I've just released a new version where UWP is considered fully supported 🎉

[2017-09-10 08:12] #8 closed

[2017-09-10 18:30] pratikarya commented on #64
![screenshot_20170910-132406](https://user-images.githubusercontent.com/13135404/30251600-afa4667c-9680-11e7-99eb-fa19fef5ee2f.png)

I followed the example given in the sample project to download files using CrossDownloadManager.Current.StartDownload(file).

I was showing a loading sign while the download was in progress. Once, the download was completed, I used to hide the loading sign. Now, when

[2017-09-12 07:41] SimonSimCity commented on #64
Would've been nice to notice that you're using Android 7.1.1 ...

There is no event. I've now added some code that assumes that a download was canceled if it isn't in the native download manager of Android anymore.

Can you check this code and verify if it works? https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/pull/66

[2017-09-12 19:47] pratikarya commented on #64
Yes, should've mentioned the android version.

I tried the updated code, the issue still exists. Even on canceling from the notification tray, the 'Status' of the file remains 'RUNNING'. This could be because UpdateFileProperties never sets the 'Status' to 'CANCELED'.

[2017-09-13 09:33] SimonSimCity commented on #64
@pratikarya can you please check that you are having the changes I've added in #66? I haven't released a new version yet, neither have I merged into develop.

[2017-09-13 10:00] pratikarya commented on #64
Yes, my bad, should've added a new comment, instead of editing the existing one.

[2017-09-16 08:32] #64 closed

[2017-09-16 15:19] SimonSimCity commented on #64
Just released v1.3.1 which fixes this bug.

[2017-09-18 09:07] stopiccot opened #67 "[Android] File download times out"
[code]
It's kinda ironic that service designed for long background downloads times out. Any ways to workaround this?

[2017-09-18 10:57] SimonSimCity commented on #67
How do you get this error? Haven't seen it before ...

The service you are using here is an native Android service. Could you please investigate if this error also occurs if you try to download the resource on native Android? If it also occurs when requesting a download of the resource in a native app, how to you (or others) handle it?

[2017-09-18 13:12] stopiccot commented on #67
Sorry, can't share exact link - it's a private data. All I can tell that this is a ~100mb zip archive with mp3 files. It starts downloading but always fails between 80% and 90% of download on my connection. My guess is that native download manager kills all jobs that are taking too long to complete. Downloading same file using System.Net.Http.HttpClient works fine. Android version 7.0 device Nexus

[2017-09-18 18:16] SimonSimCity commented on #67
Please analyze your network using a packet sniffer to see what really breaks it down. I can't see why a timeout should do it. I've been downloading stuff over Edge with this download-manager - sometimes for hours - and haven't had any problems so far.

Does it also break with other files? Maybe the server cuts down the connection after a certain time? Please analyze the bytes when it stops. Does i

[2017-09-22 05:24] pratikarya commented on #64
For some reason, I cannot find any update for version 1.3.1. The latest version, that Nuget shows is 1.3.0.

[2017-09-22 14:16] helmishariff opened #68 "ios fail start download"
When I try to start download. It failed. From sample project.

[code]

[2017-09-23 07:27] SimonSimCity commented on #64
Sorry, forgot to submit it 🙈 Should be online in a second.

[2017-09-23 07:30] SimonSimCity commented on #68
@helmishariff please tell me more about it ... I haven't had this and I personally don't have access to an iPhone or iPad anymore.

Does it happen in the simulator or real device? What iOS version is installed and what physical device is it?

[2017-09-24 01:18] helmishariff commented on #68
I have tried run the sample code. It can't be installed on simulator or iPhone.
Emulator: IOS 11
iPhone 6 IOS 11

[2017-09-24 05:07] SimonSimCity commented on #68
But that's a different bug. What do you get for the simulator though?

And what device was the first log from?

And please tell me a bit more next time ... it's like I just get the answer for exactly what I ask for and nothing more, which makes me just ask more questions or drop it because it's too much work getting the necessary information.

[2017-09-24 10:23] helmishariff commented on #68
I got this message on simulator: error MT0117: Can't launch a 32-bit app on a simulator that only supports 64-bit apps (iPhone 8).

So, I created a test project an install the plugin using nuget. But when I try to start download, I got this message in output log.
[DownloadManager] Add -> New items: 1 at -1 || Old items: 0 at -1
FAILED
Canceled.
FAILED
[DownloadManager] Remove -> New items: 0 at -1

[2017-09-24 12:25] SimonSimCity commented on #68
@helmishariff Have you tried to install the sample app on iOS 10? Can you also tell me more about your development environment? Can you set up your own project importing my library - not using`nuget`, but by a project-import?

I can't see where this message should come from because my project is compiled for `x86` and `x86_64` processors.

[2017-09-25 07:43] BtrJay opened #69 "Using PathNameForDownloadedFile: Android suffixes filename by '-1' if file already exists"
Hi @SimonSimCity ,

I've found an issue that when I set PathNameForDownloadedFile for Android before calling

                 downloadManager.PathNameForDownloadedFile = downloadFile => filePath;

i.e. /storage/emulated/0/Android/data/com.builttoroam.podcast/files/Download/a2da6a8b-2b67-44ba-8478-2661/Audio.mp3

                var file = downloadManager.CreateDownloadFile(url);
                f

[2017-09-25 08:00] SimonSimCity commented on #69
Hi, @BtrJay

I just had this when starting the download twice - and that was expected. Can you please create a fork of this repository and change the example, so you get it there as well? I'll then have a closer look at it and find a way to fix it.

[2017-09-25 08:02] BtrJay commented on #69
@SimonSimCity,

Sure, I will create a pull request for that shortly.

Kind Regards,

Jay Sim

[2017-09-26 00:32] BtrJay commented on #69
Hi @SimonSimCity ,

I've created the pull request that creates the test for Android where you can replicate the issue I have.

Please have a look.

Kind Regards,

Jay Sim

[2017-09-26 01:29] BtrJay commented on #69
My latest PR should include the fixes for this issue.

Please have a look and let me know if you have any issues/concerns.

Regards,

Jay

[2017-09-26 06:55] SimonSimCity commented on #69
Thanks very much, I've fixed it, closed the PR and uploaded a new version (v1.3.2)

[2017-09-26 06:55] #69 closed

[2017-09-26 06:58] SimonSimCity commented on #68
I'll update to Mac OS High Sierra and can first then start testing on iOS 11 ... until then, I'm fully reliant on you to test it, see into it and help me finding the source of the problem.

[2017-09-26 22:57] helmishariff commented on #68
Samples working find on my another machine MacOS 10.11.6 with simulator iOS 10.2.

[2017-10-04 04:47] BtrJay opened #71 "[Android] Is it possible to make download notification optional?"
Hi @SimonSimCity ,

When download starts, it shows the progress in notification center.

This isn't actually an issue. However, I don't think every user would like to see that so it would be good to make it optional in abstraction layer?

#Steps to reproduce

1. Start downloading a file in Android devices

2. The progress is showing in notification center

If you would like me to create a pull req

[2017-10-04 04:49] BtrJay commented on #71
![image](https://user-images.githubusercontent.com/22138279/31160366-9421141a-a91b-11e7-8bda-61db001a7104.png)

[2017-10-04 20:12] SimonSimCity commented on #71
I rather keep it like that and let you decide if you want to do something that differs from the default Android settings - mainly because it's an Android default.

Everyone can disable it if he doesn't want this behavior ... Same with that every download is added to the `Download` app. You can keep it, and it's Android's default to do so, but you're free to change it at any time if you want using

[2017-10-05 00:26] BtrJay commented on #71
Thanks @SimonSimCity ,

Is there a way to disable this notification in the plugins configuration?

If so, how could I do that?

If it needs to be a new task/feature, I could create a PR for that.

Regards,

Jay Sim

[2017-10-05 19:41] SimonSimCity commented on #71
See #61

[2017-10-06 03:15] BtrJay commented on #71
Thank you for your help @SimonSimCity

[2017-10-06 03:16] #71 closed

[2017-10-15 08:05] cse1sp14cs109 opened #72 "Please Tell Where is the downloaded file located"
I was able to run you project and download was successful

### Steps to reproduce
Looked at your issues #10 and #17

1. I installed plugin for all project even enabled write, Network Access , Internet permission for android
1. I installed PCl storage too, but did not find file inside my phone storage

**Platform:**

- [X] Xamarin forms Android

**Device:**

- [X] Real device: Samsung GT-N700(Andro

[2017-10-15 08:26] cse1sp14cs109 commented on #72
Sorry I was a Beginner At last i enabled
  CrossDownloadManager.Current.PathNameForDownloadedFile = new Func<IDownloadFile, string>(file =>
            {
                string fileName = Android.Net.Uri.Parse(file.Url).Path.Split('/').Last();
                return Path.Combine(ApplicationContext.GetExternalFilesDir(Android.OS.Environment.DirectoryDownloads).AbsolutePath, fileName);
            }

[2017-10-17 10:58] SimonSimCity commented on #72
@cse1sp14cs109 Please keep in mind that you need to set the file destination immediately after starting your app. This is because the different OS have quite different implementations in their native download-manager.

Did this already solve this issue?

*Edit:* I've taken advantage of the possibility and updated your markdown to make it easier readable ...

[2017-11-22 13:57] SimonSimCity commented on #72
Closed due to lack of feedback ...

[2017-11-22 13:57] #72 closed

[2017-11-22 13:59] SimonSimCity commented on #67
Closed due to lack of feedback.

[2017-11-22 13:59] #67 closed

[2017-11-22 14:00] SimonSimCity commented on #58
@WarBorg did you get this problem solved?

[2017-11-22 21:27] WarBorg commented on #58
@SimonSimCity apperently everything works OK now but I have no ideea if I did something or something changed after updating some Microsoft product, if I will encounter the problem again I will let you know, as I mentioned in a previous post it is a very complex project and have no idea if somebody changed something that impacted the bait and switch procedure or not

[2017-11-23 06:29] SimonSimCity commented on #58
Ok, so I'll close it for now.

[2017-11-23 06:29] #58 closed

[2018-01-05 10:11] SatyaRamprasad opened #74 "Unable to instantiate receiver DownloadCompletedBroadcastReceiver"
Unhandled Exception:
[code]

This is my InitDownloadManager (PCL Android)
[code]
I have created an interface to send url in CrossDownloadmanager
[code]
After Downloading the File it throws the above Exception.
Help me on this.
Thanks In Advance @SimonSimCity @martijn00  @fela98  @BtrJay

[2018-01-11 07:29] SatyaRamprasad commented on #74
Any Solution?
Thanks In Advance @SimonSimCity @martijn00 @fela98 @BtrJay

[2018-01-16 05:38] SimonSimCity commented on #74
Please don't link these issues to everyone. Most of these people you listed here are not anymore working on this project and you'll just keep annoying them.

I am myself not working with this project anymore and are about to hand it over to someone.

Can you please tell me what other investigations you've done to nail down the problem? F.e. do you get this exception every time? Which version of An

[2018-01-18 13:08] SatyaRamprasad commented on #74
@SimonSimCity

Yes, i am  getting this exception every time when the download completes and android version is 7.
It is working fine in emulators.

[2018-01-19 15:27] manikandantk88 opened #75 ".NET Standard Support"
Not able to install this plugin in .NET Standard based Xamarin Forms project

[2018-02-01 14:26] Dhanashekar007 opened #76 "it downloads file but shows the message file does not exist. in the file manager when i try to open the file"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1.

2.

3.

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Configuration

**Platform:**
- [ ] iOS
- [ ] Android
- [ ] UWP
- [ ] Other

**Device:**
- [ ] Simulator
- [ ] Real device (please specify)

[2018-02-17 23:02] DelattreAdixon opened #77 "[Android] Download are cancelled with no reason"
Fork reproducing the issue :
https://github.com/DelattreAdixon/Xamarin-CrossDownloadManager
Launch the DownloadExample.Droid project, and look at the ouput. Some files are marked as 'Cancelled' :

[code]

Looking at the Xamarin

### Steps to reproduce

1. Add several files in the download queue (more than 30 files), and start them

2. Some files are not downloaded. When checking the status for eac

[2018-02-18 00:46] large opened #78 "A simple save-as function?"
This isn't a issue, but a feature/dunno-how request ;)

If I have a download link like http://somelink.com/filegenerator/wefokwjefljk32l4lzzq and wants to save it with a custom filename, like "filename.txt". Cannot find anywhere to trigger that, by using default download location. Probably can set it by using PathNameForDownloadedFile ???

But a easier implementation is to add a function like:
voi

[2018-02-19 06:33] SimonSimCity commented on #78
The right place for this would be the lambda expression `PathNameForDownloadedFile`. Due to some of the implementations, the behavior, when this value is called out, is quite different. On some platforms it's needed when starting the download, whereby some other require it when the download is finished.

Since I wanted to keep the footprint (and thereby also the possibility of errors) on a minimum

[2018-02-19 06:33] #78 closed

[2018-02-19 06:55] SimonSimCity commented on #74
@SatyaRamprasad Can you please clarify if this happens in the simulator or also on a real device? If it's on a real device, please include the manufacturer and model number so I can track it down and try it further.

I haven't had much luck reproducing it until now ...

[2018-02-19 14:32] SatyaRamprasad commented on #74
@SimonSimCity  In emulators, downloads are working where as in real devices like Lenovo Z2plus(android version is 7) , Redmi  4A (android version is 6) app is crashing.

[2018-02-21 13:43] vishnuprasadDH opened #79 "I wanted to donwload a file from a HTTP POST method, which accepting some JSON body and returning a stream. Is there any way to figure this out ?"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1.

2.

3.

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Configuration

**Platform:**
- [x] iOS
- [ ] Android
- [x] UWP
- [ ] Other

**Device:**
- [ ] Simulator
- [ ] Real device (please specify)

[2018-02-21 13:45] vishnuprasadDH commented on #29
I would like to see it working on UWP  , iOS  & Android .
Is there any update on this issue ?

[2018-02-21 13:46] #79 closed

[2018-02-21 13:46] vishnuprasadDH commented on #79
It seems that this is a duplicate of another issue

[2018-02-21 15:15] SimonSimCity commented on #29
@vishnuprasadDH if you have time, I can provide you with the knowledge to start on it, but there's no plan by me to do it. Please get in contact with me via mail if you're interested in starting on it.

[2018-02-21 15:25] vishnuprasadDH commented on #29
I'm interested. Can you please provide me the next steps.. my objective is
to get this working initially for UWP, then Android and finally on iOS.
On 21-Feb-2018 8:45 PM, "Simon Schick" <notifications@github.com> wrote:

[2018-02-21 15:54] SimonSimCity commented on #29
@vishnuprasadDH please send me a private mail, don't just answer to this mail here. I can't see your mail address here because you made it private  and don't want to bloat this thread.

[2018-02-21 18:25] SimonSimCity commented on #68
@helmishariff I've finally managed to reinstall my mac and install the latest version of Mac OS (10.13.3) and could perfectly run the sample app I have on `iOS 11.2` on an iPhone 8. Were you able to get it running in the meanwhile?

[2018-02-22 06:30] SimonSimCity commented on #76
@Dhanashekar007 could you (by any chance) provide more information here? I have no clue of how to test or reproduce this. For now I can only say that it works for me on a real Android device and I know of a project this package is used, where it's installed on quite some iOS devices without any problems.

[2018-02-22 06:55] SimonSimCity commented on #75
Just an internal note:

This could be worth looking into as a point of starting ... https://github.com/jamesmontemagno/DeviceInfoPlugin/pull/28

[2018-02-24 15:44] SimonSimCity commented on #74
@SatyaRamprasad I've now tried it on a Nexus 5x and it worked beautifully. The only difference I noticed was that I had to add the permission `android.permission.INTERNET` when compiling in `Release` mode, but this could well be due to the code I wrote.

What error do you get? If your app is crashing, there must also be a crash report, latest if you use the `Device Monitor`. Please post the except

[2018-02-24 17:09] SimonSimCity commented on #75
@manikandantk88 I haven't had any problems ... I just needed to add the nuget-package to every of the native projects and I was able to use it. If it doesn't for you, please show me the error you're facing.

Maybe this helps you? https://solidbrain.com/2017/09/12/xamarin-is-it-time-to-move-from-pcl-to-net-standard/ (scroll down to `Referencing PCLs in .NET Standard libraries`)

It advises you to a

[2018-02-24 17:25] SimonSimCity commented on #75
@manikandantk88 I've now myself tried to add my NuGet package to a plain project targeting `.NET Standard` - ignoring the fact that you mentioned `Xamarin Forms`. When targeting `.NET Standard 2.0` it worked without any adjustments needed - I just got a warning but when I changed to another version, I had to add the XML I've posted in the last comment to make it work.

Does this solve it for you?

[2018-02-24 18:04] SimonSimCity commented on #77
Thanks very much for the fork, which made it very easy for me to track down the problem. I've created a fix on my `develop` branch. Please review this change, merge it into your fork and verify that this problem is fixed.

If you don't respond within one week I consider this issue as fixed 😉

[2018-02-26 13:03] manikandantk88 commented on #75
@SimonSimCity  Thank you for response. I checked. It is resolved when I configure below in my project

`<PropertyGroup>
  <TargetFramework>netstandard1.0</TargetFramework>
  <PackageTargetFallback>$(PackageTargetFallback);portable-net45+wp8+wpa81+win8+MonoAndroid10+MonoTouch10+Xamarin.iOS10+UAP10</PackageTargetFallback>
</PropertyGroup>`

[2018-02-27 13:14] cavaIV commented on #49
This error still occurs
Any updates?

[2018-02-27 14:25] SimonSimCity commented on #49
This bug is related on some code that I refactored lately while trying to fix #77 (see c12a0f1a7dcb8e291a6c6436bc9660f834e7b25e).

@cavaIV If you have an environment where this exception occurs quite frequently, I ask you to test it with the code currently on the `develop` branch of this repo.

If you just found this in the exception-reporter (e.g. Xamarin Insights) I kindly ask you to wait for my

[2018-03-02 11:13] large commented on #20
Link changed to: https://github.com/jamesmontemagno/MediaPlugin/blob/master/src/Media.Plugin.Android/MediaImplementation.cs

Check out RequestStoragePermission() function

[2018-03-02 21:37] large opened #80 "Permission needed when NotificationVisibility = hidden"
FYI, when using the NotificationVisibility = DownloadVisibility.Hidden the permission DOWNLOAD_WITHOUT_NOTIFICATION need to be added to the manifest.

Got exception when trying without on my Oreo project.
Added <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> and things worked as expected.

[2018-03-04 05:56] SimonSimCity commented on #80
I guess it would be best to set up a wiki her for that ... I'll leave this here as a todo for me 😉

[2018-03-05 05:39] SimonSimCity commented on #77
I've now published the version `1.3.6` which should fix this bug. Please tell me if it should still occur.

[2018-03-05 05:39] #77 closed

[2018-03-05 05:40] SimonSimCity commented on #49
I've now published the version `1.3.6` where I rewrote the code snippet this bug occurred. Please tell me if it should still encounter it.

[2018-03-05 05:40] #49 closed

[2018-03-13 15:27] SimonSimCity commented on #76
@Dhanashekar007 You have to provide me more details about your environment - if not I have to close this issue because I have no chance to either reproduce it, nor will you help me checking if it has been resolved.

[2018-03-13 16:48] Dhanashekar007 commented on #76
I am able to download the file but I can't open the file it's shows it
doesn't exist in Android

IN IOS I am not able to download the file

[2018-03-14 06:51] SimonSimCity commented on #76
@Dhanashekar007 please provide me more details. I just know that it doesn't work for you, but it works perfectly for me in the sample project and in the application I use this. Please provide me with a version that does not work or show me some code so I can see where it goes wrong.

[2018-03-19 08:02] SimonSimCity commented on #74
@SatyaRamprasad Do you still see your app crashing? If I don't answer within the next weeks and provide more info here I'm afraid I have to close this issue due to a lack of feedback and insight.

[2018-03-19 08:38] SatyaRamprasad commented on #74
Java.Lang.RuntimeException: Unable to instantiate receiver md5122601985fa14a9be911c91910019277.DownloadCompletedBroadcastReceiver: java.lang.ClassNotFoundException: Didn't find class "md5122601985fa14a9be911c91910019277.DownloadCompletedBroadcastReceiver" on path: DexPathList[[zip file "/data/app/com.pmr.PMR-1/base.apk"],nativeLibraryDirectories=[/data/app/com.pmr.PMR-1/lib/x86, /data/app/com.pmr.

[2018-03-19 08:45] SimonSimCity commented on #74
@SatyaRamprasad That's what I already know, and I can only reply that I've never seen this happening in one of my apps and need more info from you. A sample project where you get this would be great. I can't do anything with only this ...

If you want, I could also assist you in setting up the sample project and trying it out

If you don't provide me more data, I'm afraid I have to close this issu

[2018-03-19 09:22] #74 closed

[2018-03-29 08:03] hashimks opened #81 "Example for downloading a .docx file which is a URL link using this plugin"
Can you please provide an example for downloading a .docx file which is a URL link using CrossDownload Manager?  I do not want to save the file in the system directory.

[2018-04-10 09:44] dashika opened #82 "java.lang.IllegalArgumentException: Unknown URL content://downloads/my_downloads"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

I have problem with Android 4.3 Samsung S4 when try download file:
java.lang.IllegalArgumentException: Unknown URL content://downloads/my_downloads

### Configuration

**Platform:**

- [x] Android 4.3

**Device:**
- [x] Real device (Samsung S4)

[2018-04-10 10:14] dashika commented on #82
It was fail on my phone, was off download manager, this solution help me:

 try
            {
                //Open the specific App Info page:
                Intent intent = new Intent(Android.Provider.Settings.ActionApplicationDetailsSettings);
                intent.SetData(Android.Net.Uri.Parse("package:" + "com.android.providers.downloads"));
                StartActivity(intent);

[2018-04-13 15:41] AndreiMisiukevich opened #83 "[Question] [Improve]"
Hi, thanks for you work

What do you think about providing ability to move files from external storage to internal one?
It can be achieved by adding a reciever class
something like this.. by the way, it would be better to make DownloadManager field as open for avoiding reflection =)

[code]

And another suggestion is adding FileName property to IDownloadFile interface.. it would be more comfortabl

[2018-04-14 11:11] AndreiMisiukevich commented on #83
@SimonSimCity Hi

As for the first point
You said "Moving the file from INTERNAL to EXTERNAL storage", but i meant from EXTERNAL to INTERNAL.

So, as you noticed Android's download manager can save files only at external storage, but if I want to store them in INTERNAL one, i will have to register BroadcastReceiver for moving them to INTERNAL, won't I ?

So, I suggested to add default BroadcastRec

[2018-04-14 11:12] AndreiMisiukevich commented on #83
As for the third
I don't want to use url as FileName, i want to pass desired file name before downloading.
Now, I can do it via headers.. but it's trick..

[2018-04-14 11:57] AndreiMisiukevich commented on #83
Deal)
So, i think it can be closed

[2018-04-14 11:57] #83 closed

[2018-04-14 12:01] SimonSimCity commented on #82
@dashika this is nothing related to the code I wrote, do I understand that correctly ..?

[2018-04-15 18:13] dashika commented on #82
Yes, you can add my fix in code, if you want, but in not neccesary. It need if download manager turn off.
If download manager turn off - and I try download something using your demo - happened java.lang.IllegalArgumentException.

[2018-04-16 07:16] SimonSimCity commented on #82
Currently I don't really know where to put these lines ...

It would be a great help to me if you would have the chance to fork this repository, fix the bug in my sample project and create a pull request so I can have a closer look at where exactly this library needs the improvement and fix it for everyone.

[2018-05-03 10:22] Ruddy2007 opened #84 "[Enhancement] IDownloadFile add on object"
Just a quick one from me.

After a download is complete I want to update my DB table to reflect this, the way I would like to do that is to target the row using its ID but the only value I can use with `IDownloadFile` is the URL.

It would be nice if when we setup `IDownloadFile` we can have the option to add an object onto it so we can get to that object where ever we want.

Little example of how

[2018-05-04 06:01] pratikarya opened #85 "[Android][iMissing Reference"
Missing reference to Plugin.DownloadManager.Android and Plugin.DownloadManager.iOS when installing from Nuget.
In your sample project, both Android and iOS projects have above references. But on insatlling from Nuget, these references are missing.

https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/issues/64

**Platform:**
- [ ] iOS
- [ ] Android

[2018-05-04 06:15] pratikarya opened #86 "[Android][iOS] Missing reference"
I installed the Xam.Plugins.DownloadManager version 1.3.6 from Nuget.
But references to Plugin.DownloadManager.Android and Plugin.DownloadManager.iOS were missing.
Whereas, in your sample project, both Android and iOS, have the above respective references.

I had earlier reported the following issue, which was resolved: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/issues/64

But th

[2018-05-04 06:15] #85 closed

[2018-05-04 06:16] pratikarya commented on #85
Please ignore, accidentally hit the enter button before completing the issue.

[2018-05-05 12:50] SimonSimCity commented on #84
Only Android actually uses an id per download. In an Android specific environment, you can cast every instance of `IDownloadFile` to `DownloadFileImplementation` which will give you access to the `id` parameter.

The complex part here for me is, that the instances of the classes implementing the `IDownloadFile` interface has to be rebuilt in case your app was suspended and is started up again.

If

[2018-05-05 13:00] SimonSimCity commented on #86
I don't know your project structure, but I guess you have three projects where one is for the shared code and two for the platform specific code - Android and iOS, right?

This package needs to be installed in any of these projects. By adding it to the shared project, you add the shared code of this library and by adding the package to the platform specific projects you add the actual implementati

[2018-05-08 07:27] Ruddy2007 commented on #84
I feel like your selling yourself short here. To my knowledge there isn't another downloader like this, cross platform and it works!

I needed a quick way to download files for iOS, Android and Windows and this ticks all the boxes and does it well. The feature to continue downloading after the app is suspended is more of a option (to me). I need my app up to date at all times (every time you resum

[2018-05-10 09:57] SimonSimCity commented on #76
@anupk29 please create a fork of this repository with a reproducible example or give me access to a version of your application where I can try this myself. It works perfectly for me ...

[2018-05-10 10:17] AndreiMisiukevich opened #87 "Cancel Download; Show common progress; Image"
Hi
I've got several questions
1) How can user cancel downloading
2) Is it possible to show common progress line (percentage). Because now it shows progress for each downloading item
3) Is it possible to set up custom image for notification

Thank you)

[2018-05-10 12:09] anupk29 commented on #76
i called foo.InitializeDownload(); method once again after completing(writing) all the bytes then i was able to see the file in appdata folder.. Thanks its working now..but its not listing in iphone Adobe reader app.. which is installed in the same iphone..

[2018-05-10 13:27] AndreiMisiukevich commented on #87
Thanks for quick response.
1) I meant canceling downloading from Notification (But I understood, that it requires #34)
2) #34
3) #34

Yes, it's clear. I need to customize notification

[2018-05-10 13:36] SimonSimCity commented on #87
Ok, let's continue on 1. a bit more. Which version of Android do you use? I guess we're only talking about Android here, right?

Out of this post (https://www.androidpolice.com/2016/03/21/android-n-feature-spotlight-the-download-managers-notification-gets-a-quickly-accessible-cancel-button/) it should be possible to do as of Android Nougat.

I just found this bug report: https://stackoverflow.com/

[2018-05-10 13:41] AndreiMisiukevich commented on #87
Yes, only about Android.
I tested it on Android 5.1

It's rather old) So, this feature is available starting 7.0, isn't it?
For old versions I should implement custom notification?

[2018-05-10 13:53] SimonSimCity commented on #87
Yes, Android implemented it natively from Android 7.0 on. If you want to have it on earlier versions you'd have to implement a custom notification.

If you test this again with Android 7.0 or higher and you discover that it e.g. doesn't cancel the download properly please raise a new issue.

I'm closing this as a custom notification for 1. would be out of scope of this package.

[2018-05-10 13:53] #87 closed

[2018-05-28 21:47] large opened #88 "TotalBytesExpected and TotalBytesWritten is converted as integers not float"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce
I am sorry for not forking, but I could not get it to work...

Use Crossdownloader in Android simulator on a big file.
For instance a file with this size: 9,83 GB (10 558 486 413 bytes) is calculated as a 1,89GB file since the convert is a integer and not float.

I suggest using double instead

[2018-06-02 17:13] SimonSimCity commented on #88
Thanks very much for reporting this error in detail. For now I've fixed it by just replacing the `ICursor.getInt()` by `ICursor.getFloat()`. Do you have the possibility to check it? This should already solve the major problem here.

I agree that we should rather use double here to keep the accuracy on a higher level, but this is something I want to keep for version 2.0, because it would require me

[2018-06-02 17:16] SimonSimCity commented on #68
Closed due to lack of feedback ...

[2018-06-02 17:16] #68 closed

[2018-06-02 20:09] large commented on #88
@SimonSimCity I will check it later on.
Out of curiosity; what library do you use for Xamarin since you abandoned this?

[2018-06-03 07:01] SimonSimCity commented on #84
Read your question again and again ... here are some ideas that keep popping up in my mind when I hear it:

1. Use Akavache as an extension to this library and register on the different download stati
1. Replace this by the `WebClient.DownloadFile`

For the first of those options you'll still be using this library and use the download-url as a key on Akavache where you store additional data to the

[2018-06-03 07:01] #84 closed

[2018-06-03 07:02] SimonSimCity commented on #82
@dashika You said that it also happens using my demo project. Could you please tell me more and provide me with an instruction to reproduce it?

[2018-06-03 07:13] SimonSimCity commented on #88
The current Android version is compiled against `Android Nougat (7.0)`.

... and I didn't really abandon this project. It's just that I haven't had the need for any updates for quite a while already before leaving the project I used this package on, so there wasn't really a need for me to force this forward into any direction. I've added quite some features required by other people and helped them

[2018-06-04 08:53] dashika commented on #82
Turn off Download Manager on Android - and run your demo after it.

[2018-06-04 09:59] SimonSimCity commented on #82
Why would you stop a system-app and expect everything to work fine 😨

And what should I do against it? I could document it and the developers then have themselves to decide how to proceed - this is something I would accept ...

Please tell me what your solution is doing in detail. As far as I can see, you're just trying it once more without uri, which doesn't really help because the donwload manag

[2018-06-04 10:04] dashika commented on #82
It unusual situation - if you want you can decide it, no - close question =))
On my phone happened this situation - so I described you about it.

I wrote code upper - Open setting for turn on download manager.

[2018-06-04 10:40] SimonSimCity commented on #82
@dashika thanks for reporting. The only possibility I could reproduce this was by disabling the download-manager, which clearly is an intention that you want to stop using it. I'll add it to the documentation and let the developers handle it.

This library will not be affected by this after implementing #34. So if anyone has time and feels compelled, feel free to work on it after dropping a mail t

[2018-06-04 10:40] #82 closed

[2018-06-06 15:59] JimmyPun610 opened #89 "Wifi only feature"
I checked past issue and there is a setting to restrict the download action from mobile network.
However I do not find it in nuget version 1.3.6 now.
What will be the approach I need to do to achieve this function?

[2018-06-06 22:38] SimonSimCity commented on #89
According to the changelog it was added in version 0.9.0 - and according to the nuget website, 1.3.6 is the latest release. Which version do you see if it's not 1.3.6?

An example of to use the restricting of mobile download is shown in the sample project: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/DownloadExample/Downloader.cs#L38

Does this answer the questi

[2018-06-07 05:58] JimmyPun610 commented on #89
Got it. Thank you so much.
Is that a global settings or just affecting every single request?

[2018-06-07 12:37] SimonSimCity commented on #89
It's available on `IDownloadManager.Start (file, mobileNetworkAllowed)` where `file` is of `IDownloadFile`. You call this method when you're done configuring your file and are ready to give it to the download manager which will start and manage the download. Hope that was clear 😅

Please be also aware of that the download manager himself can decide when to start the downloads. Adding them to the m

[2018-06-07 14:33] JimmyPun610 commented on #89
Thank you for answering my question!

[2018-06-07 14:33] #89 closed

[2018-06-14 09:10] tangkhaiphuong opened #90 "How to download backgrounding with Post method have payload"
The backend server support downloads a file by Post method with the payload. So how can do with CrossDownloadManager?

### Configuration

**Platform:**
- [x] iOS
- [ ] Android
- [ ] UWP
- [ ] Other

**Device:**
- [ ] Simulator
- [x] Real device (please specify)

[2018-06-14 11:05] SimonSimCity commented on #90
It is true that the native download manager of iOS supports this feature, but at least for Android it would require quite a massive change since the native download manager there doesn't (see: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/issues/29). Luckily we have the option there to write our own custom background process, which has been added as issue and researched, but not sta

[2018-06-14 11:05] #90 closed

[2018-06-14 11:07] SimonSimCity commented on #90
As I wrote in #29, if you only want to have it on iOS and can update this plugin to support this feature on iOS only, I'd be happy to merge it, as long as you have it as a platform dependent feature until it's implemented also on Android and UWP.

[2018-06-23 07:04] vikassharma83021 opened #91 "unable to download multiple file parallelly xamarin ios plate form"
To help us fix your issue, please provide the information in the below template.

I am using Xam.Plugins.DownloadManager plugin for file download in both plate form android and ios with xamarin. It is working fine on android plate form but on ios unable to download multiple files parallelly. anyone can help me ?

### Expected behavior
I want to download multiple files parallely like in android.

#

[2018-06-25 21:18] SimonSimCity commented on #91
You can check what happens if increasing this factor:

https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/bd94398623043cd3e29f743201302103d9d48ba1/DownloadManager/Plugin.DownloadManager.iOS/DownloadManagerImplementation.cs#L151-L155

Many sources I find on the internet highly encourage me to leave it at `1`, either because the memory-overhead is quite high or because of some compati

[2018-06-29 06:13] vikassharma83021 commented on #91
Thanks for reply sir. how can i change  configuration.HttpMaximumConnectionsPerHost in my installed package .

[2018-06-29 06:19] SimonSimCity commented on #91
@vikassharma83021 you can create a fork of this repository, change the sample project so it includes what you want to test and then change the number in the file I showed you. This way you can test what side-effects it will have on your project or if it would work at all. (Some of the reports I found state that this helps nothing ...)

[2018-06-29 06:40] vikassharma83021 commented on #91
but after change how can i add this to my project . because last time add this from nuget package manager

[2018-06-30 05:48] vikassharma83021 commented on #91
hello please tell me about this

[2018-07-06 11:20] anupk29 opened #92 "Can't we download same link more than once with this plugin"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1.

2.

3.

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Configuration

**Platform:**
- [x] iOS
- [x] Android
- [ ] UWP
- [ ] Other

**Device:**
- [x] Simulator
- [x] Real device (please specify)

[2018-07-06 11:21] anupk29 commented on #92
i want to know how to download same link one than once and that file is not visible thru file explorer using this plugin

[2018-07-06 12:28] anupk29 commented on #92
not the same location which was stored previously.

[2018-07-06 12:44] SimonSimCity commented on #92
@anupk29 please fork the repository and update the demo to reproduce this issue ... can't really see in code how this can happen.

[2018-07-06 15:18] #92 closed

[2018-07-18 06:03] hashimks opened #93 "Open downloaded file inside the application"
Hello @SimonSimCity

I am using the plugin for downloading files from the provided url. I am able to do it, however can you please help me opening and viewing the file simultaneously after the download?

[2018-07-18 07:02] SimonSimCity commented on #93
Nice to get some feedback again 😄

In the sample project you can see how to get the URI after a successful download. From there on it's on your side what to do with the file.

* Android: https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/Droid/MainActivity.cs#L109

I saw that I haven't included any sample on iOS which would return the path. Since I've moved over to ot

[2018-07-18 07:50] TomONeill commented on #93
It would actually be easier if IDownload included a local file url (which gets set on PathNameForDownloadedFile). This way we can use other plugins, like https://github.com/Studyxnet/FilePicker-Plugin-for-Xamarin-and-Windows to open the file easily.

[2018-07-18 12:01] tvandegraaf commented on #93
I created a PR that adds a field to the IDownloadFile object. This way you don't have to do obscure things like this:
https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/Droid/MainActivity.cs#L109

Unfortunately you can't use [FilePicker-Plugin-for-Xamarin-and-Windows](https://github.com/jfversluis/FilePicker-Plugin-for-Xamarin-and-Windows) to open the file, since it h

[2018-07-24 09:04] Ruddy2007 commented on #84
@SimonSimCity Late reply for this but just wanted to say thank you for your time on this matter. I am still using this plugin and I have it working well for what I need it for so thanks again!

[2018-08-08 16:12] SimonSimCity commented on #88
Should be fixed in the version 1.4.0, which I'll release soon. Please reopen if the problem still remains.

[2018-08-08 16:12] #88 closed

[2018-08-08 16:33] SimonSimCity commented on #93
The PR #94 now got accepted and I've just published version 1.4.0 to nuget. This should now allow you to easily get the file destination by the property `DestinationPathName` of every `IDownloadFile` after they reached the status `COMPLETED`.

[2018-08-24 10:24] toussam commented on #75
Hi @SimonSimCity,

I have a similar issue with my PCL that is targeting .NET Standard 2.0.  The .csproj of this last one is already containing a similar code that you previously shared:

Even by doing so, I still got the next warning:

Could you help me this ? :)
I thank you in advance for your response and wish you a great weekend !

[2018-08-28 15:06] SimonSimCity commented on #75
The latest version of this package is compatible with the following target: `portable-net45+wp8+wpa81+win8+MonoAndroid10+MonoTouch10+Xamarin.iOS10+UAP10`, so I guess it's best to have exactly this line in your configuration.

Maybe this can also help ... https://stackoverflow.com/questions/45569378/upgrading-to-net-core-2-0-packagetargetfallback-and-assettargetfallback-cannot

Let me know if you s

[2018-08-29 06:57] joehanna commented on #24
Hi @SimonSimCity  - thanks for building a great project.  I am keen to implement this but I cannot get my head around how I can submit multiple files (say up to 30) without specifying the full destination path name with each one.  I can't see how [this solution](
https://github.com/SimonSimCity/Xamarin-CrossDownloadManager#recommended-option---custom-location) works when submitting multiple files.

[2018-09-09 15:58] toussam commented on #75
I tried both of these solutions and also to replace PackageTargetFallback by AssetTargetFallback, but nothing changed.

Just want to precise that I added successfully the package, but the compilation of my project is leading to the given warning (cf. above).

Another idea maybe ? I thank you one more time for everything !

[2018-09-20 19:24] rafaelrmou opened #95 "[ERROR] Download Crash/Stop when URL have Spaces ou accented words (maybe have more problems)"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1. Try to download that file with the Sample project: https://chat.fidelitymobile.org:3355/ClientDocument/images (5).jpg

2. Download will not executing

### Expected behavior

Download file

### Actual behavior

File not Download

### Configuration

**Platform:**
- [X] iOS
- [X] Android
- [?]

[2018-09-23 19:06] large commented on #95
Hi @rafaelrmou
When you have spaces or other "special" characters in the link you must encode the link right.
(subject)

Try using:
[code]

It will output a string like this: `https://chat.fidelitymobile.org:3355/ClientDocument/images%20(5).jpg`

Notice the [SPACE] changed to `%20` and the download should work. Let me know if it still fails, works on my Android simulator.

[2018-09-24 04:30] SimonSimCity commented on #86
Closed due to lack of feedback ...

[2018-09-24 04:30] #86 closed

[2018-09-24 04:46] SimonSimCity commented on #24
@joehanna Sorry, I somehow overlooked the notification I got here ...

No, that's pretty much how it works. This is because of the major differences in implementation on Android and iOS - I didn't know of how the implementation for UWP worked when I started this project and now I don't see it as major necessity since Windows Phone practically died (https://www.theverge.com/2016/1/28/10864034/windo

[2018-09-24 04:56] SimonSimCity commented on #91
As I'm voluntarily working on this in my spare time I don't always have as much time as a paid support-service, answering every complex question within a guaranteed 24h.

I hope you've already found out about how to fork a project, add the individual projects of the solution of this repository into yours and adding them as reference to your platform-dependent projects.

Once you've done that you c

[2018-09-25 16:07] Sebberrou opened #96 "[Android] Files remain pending"
Hi,
In my Xamarin forms project I use CrossDownloadManager to download files from a local device with its own wifi.
It is working fine in iOS and Android before 7.0.
But after Android 7.0 when I start the download it remain pending, I could debug only on an emulator but i have the same behavior.
PropertyChanged event call once
TotalByteExpected at -1
and Status on Pending

Any ideas what could cau

[2018-10-03 13:48] rafaelrmou commented on #95
When using that method i receive:

I think that want to be fixed on platform specific

[2018-10-03 15:10] SimonSimCity commented on #95
@rafaelrmou how do you get to this address? No service should give you an address like this since it's an invalid url.

The [RFC 1738](https://www.ietf.org/rfc/rfc1738.txt) strictly states in _2.2. URL Character Encoding Issues_ that:

So, wherever you got this URL from, it's not conform to the RFC and will thereby not be supported by this package.

There is the method [`HttpUtility.UrlPathEncode(

[2018-10-03 15:10] #95 closed, assigned to nobody

[2018-10-10 06:24] SimonSimCity commented on #96
Sorry for the late response. I do not have much time to work on this or spend time reproducing it, but I don't want to let you down on this one. It reminds me of https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/issues/33 where a files above a certain size could not be downloaded from some Android version on.

Can you please confirm if it also fails using the demo project of this repo?

[2018-10-10 06:27] SimonSimCity commented on #93
The PR should've made it much easier. Please report again on this ticket if you're still struggling and I'll reopen it.

[2018-10-10 06:27] #93 closed

[2018-10-10 06:30] SimonSimCity commented on #75
@toussam Since I haven't had time to get back on this yet, would you have some time to start on a PR which allows this package to be used on .NET Standard 2.0 projects? I'd be happy to merge your PR or allow you to do it yourself, but I'd like to see your commitment to this problem first 😉

[2018-10-10 09:37] Sebberrou commented on #96
Don't worry having your library is already really good :)

First thing I managed to handle the problem in some android by handling the PENDING State
`case DownloadFileStatus.PENDING:
    CrossDownloadManager.Current.AbortAll(); `
I could then restart the download and it work.

but the problem remain on a samsung S8.
Finally I think i just had to disable the mobile Network download.
I left it by de

[2018-10-18 11:33] SimonSimCity commented on #96
Have you had a chance to look at it again?

Aborting all downloads if one of them enters the pending-state doesn't sound very efficient - but I think I'd need an Samsung S8 in order to properly reproduce it. Could you try to get it?

Btw - do you also see this problem in the simulator or only on a real device? It could also well be that the manufacturer here blew something up with the changes he m

[2018-10-22 07:44] Sebberrou commented on #96
Yes, it does not work for my coworker with a Samsung S8 but in the end it worked for the customer with the same phone.

And for canceling all download yes I added a check to do it only if all downloads are pending.

The main problem must have been allowing mobile network download when downloading from a wifi with no internet connection, but now I think it will work,
Thank you for your help :)

[2018-10-22 07:44] #96 closed, assigned to nobody

[2018-11-01 14:06] runesig opened #97 "Warning CS0618 Obsolete function overload NSUrlSession.FromConfiguration"
When I am trying to compile this for iOS I get a warning:

Warning CS0618: 'NSUrlSession.FromConfiguration(NSUrlSessionConfiguration, NSUrlSession Delegate, NSOperationQueue)' is obsolete: 'Use the overload with a 'INSUrlSessionDelegate' parameter.'

The issue is in the file DownloadManagerImplementation.cs for iOS and the function is "createSession":

        private NSUrlSession createSession(NS

[2018-11-02 07:48] SimonSimCity commented on #97
@runesig would you have the time to write a PR for this? 😊

[2018-11-04 11:40] large opened #98 "DownloadStatus.Failed is set and removed from queue before StatusDetail is set"
### Steps to reproduce
Download a file that generate status DownloadStatus.Failed
Try downloading a file that is bigger than the space you have available.

### Expected behavior
When download have status DownloadStatus.Failed the StatusDetails needs to be set before item is removed from queue.

In file: Xamarin-CrossDownloadManager/DownloadManager/Plugin.DownloadManager.Android/DownloadManagerImpl

[2018-11-05 07:14] SimonSimCity commented on #98
Thanks for the change-request. I've invited you to join the team of contributors so you can do the changes on your own, because I don't have much time which I could dedicate to this project anymore.

It would be good to document the changes, done for a specific platform behavior (like the missing broadcast-call of `ACTION_DOWNLOAD_COMPLETE`), in a pull-request and not just put a commit on master.

[2018-11-10 07:21] Sarthak261995 opened #99 "Download completion notification not showing in android"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1. When the file is downloading progress is showing in android notification bar .But when completed notification of that downloaded file hides.It should be still there with text download completed with file name like every browser does,doesn't it.I am using this plugin in xamarin forms app.

2

[2018-11-13 07:48] SimonSimCity commented on #99
Well, this isn't about notification, but about the app `Downloads` - as you can see from the Android specification: https://developer.android.com/reference/android/app/DownloadManager.Request#setVisibleInDownloadsUi(boolean)

And as an additional hint: You can also set this value without the cast.

To me it looks like you want an implementation of https://developer.android.com/reference/android/ap

[2018-11-15 08:09] Sarthak261995 commented on #99
I am just trying to say the download manager progress bar hides once file
download completed it should stay saying something like download complete
with file name . whatever you  answered is not even a bit related to my
query
On 13 Nov 2018 13:19, "Simon Schick" <notifications@github.com> wrote:

[2018-11-15 08:12] amitkumar15 commented on #99
Want to show something like this
![screen shot 2018-11-15 at 1 41 40 pm](https://user-images.githubusercontent.com/33648675/48539121-469ddc80-e8dc-11e8-9372-8c82487b648d.png)

[2018-11-15 08:14] amitkumar15 commented on #99
same as above guy problem download manager progress bar hides as soon as file completes downloading

[2018-11-19 07:16] Sarthak261995 commented on #99
Can you add request.SetNotificationVisibility(DownloadVisibility.
VisibleNotifyCompleted); in your android download manager implementation it
will solve my problem.

On Thu, 15 Nov 2018 at 13:44, amitkumar15 <notifications@github.com> wrote:

[2018-11-19 07:39] SimonSimCity commented on #99
No, but you can adjust this value yourself, as I wrote previously.

You need to set `CrossDownloadManager.Current .NotificationVisibility` to the value you want it to be at before adding the file to the queue.

I've also had a sample available of how to use it:

https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/6685970175024cb3f5fec7ce720f540f8487e36a/Sample/Droid/MainActivity.cs#L

[2018-11-19 07:39] #99 closed, assigned to nobody

[2018-12-03 16:34] csampaio26 opened #100 "Sending email with downloaded file"
### Steps to reproduce

1. Setting the path for downloaded files
[code]

2. Accessing the file to send it as an attachment
[code]

### Expected behavior
It should send the document as an email attachment

### Actual behavior
Instead, it tells that the document has 0 bytes and the receiver doesnt get the document.

### Configuration

**Platform:**
- [ ] iOS
- [x] Android
- [ ] UWP
- [ ] Other

**De

[2018-12-04 06:44] SimonSimCity commented on #100
Can you share a full example? I e.g. don't know when you're trying to send it via mail.

The best for me would be if you could fork this repo and adjust the sample so you get the behavior you're facing.

[2018-12-04 10:36] csampaio26 commented on #100
I was using the wrong way to download files.
I should be doing:

`

                            bool isDownloading = true;
                            CrossDownloadManager.Current.Start(File);

                            File.PropertyChanged += async (sender, e2) =>
                            {
                                if (File.Status == DownloadFileStatus.COMPLETED)

[2018-12-04 10:36] #100 closed, assigned to nobody

[2018-12-08 12:15] abdullam09 opened #101 "xamarin froms android 9 download pause"
Hi,
issue:
1. download file using the same code as in the example for android versions works fine, when i tried to use it in android 9 it goes form initialized to pausing and remains there

### Expected behavior
it should go from initializing to running
### Actual behavior
Tell us what happens instead
it remains in pause
### Configuration

**Platform:**
- [ ] iOS
- [x ] Android
- [ ] UWP
- [ ] Oth

[2018-12-28 17:24] matheusmelato commented on #101
I'm experiencing a similar issue.

When I try do download a file using Genymotion with Android 9, the download begins and fail. The download does not even get started

Did you have found a solution for your problem?

[2019-01-08 11:25] SimonSimCity commented on #101
@abdullam09 since you only experience it on a real device, I have no choice but to get a device where `LineageOS` is used. Furthermore, you're using a version which is compatible with Android 9, which (as of the time writing) is not part of an official stable release.

@matheusmelato you report this problem with a simulator. Do you also have it on a real device?

Are you both able to reproduce thi

[2019-01-10 17:42] angelnmara commented on #99
thanks man, mi descarga era muy rápida entonces no se visualizaba nada, con la opción VISIBILITY_VISIBLE_NOTIFY_COMPLETED
This download is visible and shows in the notifications while in progress and after completion.
Entonces ya lo puedo visualizar en mi barra de notificaciones, muchas gracias, sufrí mucho!

[2019-02-26 12:11] RuddyOne opened #102 "[Android] Some downloads have 0b size"
I am downloading a fair amount of images from a CMS. For Android I have to download to external storage (as read from this git page) and move it to internal storage.

For some reason after a download is complete and I attempt to move the file I randomly can get "File not found" when attempting the move. After looking into this the files that cannot be moved seem to have 0b size in downloads. I tur

[2019-02-26 14:07] RuddyOne commented on #102
Tested this by adding all files at once and letting it download. This as fast but I have a lot of 0b size files in downloads.

Then tested downloading one at a time. This was slow but no files were 0b size. Any ideas?

[2019-02-26 14:18] SimonSimCity commented on #102
Not really ... Do you have the chance to test it on different versions of Android? Have you verified that it doesn't happen in the simulator?

Could very well also be something vendor-specific, that it only happens on Android ... Could also be another candidate forcing us to push for #34.

Let me know if you see something suspicious which could bring us on here. I currently don't have time to dive

[2019-02-26 14:58] RuddyOne commented on #102
I will continue to test like you said.

Just an FYI I have created my own Android downloader (quickly) and added the same list of files for download. It gave the same result (0b size files).

So we can rule out most of your plugin. Pretty much down to the Android DownloadManager from what I can see.

[2019-02-26 15:24] RuddyOne commented on #102
Back to reality... Tested on the a simulator and can see the same issue but this time the files are able to be opened with the correct images showing. Not sure why it says 0b in size for them... Maybe this whole issue is now invalid? And could now be a case of why can I sometimes not move the files after they are downloaded?

Excuse the "spam" comments, I just want to keep track of what I'm doing.

[2019-02-27 09:01] SimonSimCity commented on #102
Keep it going, no spam-level reached yet.

If Android would be the one to blame, #34 would become more valid, since I want this lib to be stable in all use-cases. But since you also report having it in the simulator, I almost search the blame on your server now ...

Please check that your server provides the correct files after all. Track the network traffic - e.g. this helps: https://stackoverflo

[2019-02-27 11:25] RuddyOne commented on #102
So after looking into this more... I have found the downloader appears to be working fine. I still have no idea as to why the files appear as 0b in the downloads folder but I do not think this is the issue as I can open them still.

I think my problem is now more towards moving the files from the downloads folder to internal storage. Using your code from #27 I am randomly getting "FileNotFound" ja

[2019-02-28 15:14] RuddyOne opened #103 "[Android] File Not Found when moving from external to internal storage"
### Steps to reproduce

1. Run project

2. Create breakpoint in Files.cs on line 42 (in the catch so you can see whats going on)

3. Accept permission (doesn't seem to make a different)

4. Click "Download Files"

### Expected behavior
All images that are downloaded should be moved to internal storage.

### Actual behavior
Most images are moved but some throw an exception "File Not Found". I can s

[2019-02-28 15:14] RuddyOne commented on #102
I am going to close this for now (as it seems this may not be a problem related to the downloader) and move onto the new issue I have submitted.

[2019-03-01 10:30] RuddyOne commented on #102
Reopening this issue as it appears to be a problem with files downloading with 0 size. I have confirmed this within my other issue #103.

`  var openFile = Android.App.Application.Context.ContentResolver.OpenFileDescriptor(source, "rw");
                Debug.WriteLine("Size:" + openFile.StatSize);`

This line is displaying 0 size for some downloads (seems at random) before I try to move them. Any

[2019-03-04 15:27] bdurrer opened #104 "[UWP] DownloadFile does not initialize common properties when resuming"
When the [DownloadFileImplementation](https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/1da1241d941d611ca97b19ff784ff2fe3ed875f8/DownloadManager/Plugin.DownloadManager.UWP/DownloadFileImplementation.cs#L106) is initialized with a `DownloadOperation`, it does not set the Url and Header properties (iOS does, Android sets the Url). It might not be required for the DLManager, but it ma

[2019-03-05 12:57] SimonSimCity commented on #104
I had a very hard time trying to get a scenario where I needed to resume the downloads. Since Windows Mobile was discontinued, I didn't bother.

If you see the need for your project, you're highly encouraged to create a PR. I'll support you as far as I can, but it takes too much time for me as of now to set up a working windows environment to test this.

Feel free to add any data here that could h

[2019-03-07 09:31] #104 closed, assigned to nobody

[2019-03-10 06:57] Geotsv opened #107 "Conflict of NetFramework 4.6.1 and NetStandard 2.0"
Warning	NU1701	Package 'Xam.Plugins.DownloadManager 1.4.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStandard,Version=v2.0'. This package may not be fully compatible with your project.

Task Run and nothing happened ... no Status or nothing... Suspect was the above reason?

[2019-03-11 17:28] SimonSimCity commented on #107
Closing as duplicate of https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/issues/75

[2019-03-11 17:28] #107 closed, assigned to nobody

[2019-03-12 20:44] tfalasco commented on #101
I am also having the same issue on a Samsung S9, Android version 9 (Pie).

The problem can temporarily be worked around by clearing data and clearing cache in the Download Manager app in the device settings.  After doing so, the download does not pause.  However, rebooting the phone causes the issue to recur.

[2019-03-19 10:59] RuddyOne commented on #103
So this was something to do with not renaming the temp files before the move? Not sure why that would make the difference but I have now fixed my issue by doing so.

[2019-03-19 11:00] RuddyOne commented on #102
Not sure if this is just the OS doing this? All images seem to be present and not corrupted. Up to the owner of this plugin to close this issue based on the above.

[2019-03-19 13:24] SimonSimCity commented on #103
I doubt this is anything related to my package. Since you've linked this issue to #102, where you describe downloading a stack of 100+ files, I would almost expect the same problem when trying to rename 100+ files - or at least when using the native download manager yourself.

Glad to hear that not moving the file made a possible work-around for you. I'll close this because it's out of my scope. I

[2019-03-19 13:24] #103 closed, assigned to nobody

[2019-03-19 13:25] SimonSimCity commented on #103
It's also slightly related to #24 since we're already dealing with a lot of downloads here ...

[2019-03-19 13:32] SimonSimCity commented on #102
Since I leave this part fully off to Android itself (see https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/DownloadManager/Plugin.DownloadManager.Android/DownloadFileImplementation.cs#L132) I can self-confidently close this issue as the problem is sorely related to internal Android behavior.

The native download manager of Android only provides me a place to notify him of t

[2019-03-19 13:32] #102 closed, assigned to nobody

[2019-03-28 08:16] ashishkumawat opened #110 "How to set Cookie if server wants session."
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1.

2.

3.

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Configuration

**Platform:**
- [ ] iOS
- [ ] Android
- [ ] UWP
- [ ] Other

**Device:**
- [ ] Simulator
- [ ] Real device (please specify)

[2019-03-28 08:26] SimonSimCity commented on #110
Well, you can set headers on an `IDownloadFile` implementation, which allows you to send cookies. If you need more help, please get familiar with HTTP headers and which options they give you.

[2019-03-28 08:26] #110 closed, assigned to nobody

[2019-03-28 16:56] ashishkumawat commented on #110
Thank I will try

On Thu, Mar 28, 2019, 4:11 PM Simon Schick <notifications@github.com> wrote:

[2019-04-01 14:23] lepetitpaco opened #111 "Check if file exists"
I have issues checking if file exists, in main activity my code is

[code]
If the file doesn't exist, the file is going to download where I want it to be, so alright on that part.

If the file exists, it is going to download my file but it's going to be named like
file-15.mp4 or file-30.mp4, always a random number. And I don't want it to download if file does exist.

Thanks for any help you might

[2019-04-07 16:43] SimonSimCity commented on #101
@tfalasco as of your description, it sounds like a problem with the Android internal download-manager. Can you please check if you also get the problem when not using Xamarin Forms - e.g. when using the sample I included in the repository here?

[2019-04-07 16:46] SimonSimCity commented on #111
The method you're using there should always return a string for the new filename. If you want to check if the file already exists, you should do this before starting the download.

Depending on the platform, the method you assign to `PathNameForDownloadedFile` is either called before or after the download actually starts, but in both cases it will overwrite a file already existing at the given pat

[2019-04-23 09:07] SimonSimCity commented on #111
@lepetitpaco if this answered your question, please close the issue. I'll close it after 30 days without response.

[2019-04-23 11:42] frankHarmann opened #113 "NullPointerException"
### Steps to reproduce
unknown, happens randomly (only very sporadic)

### Expected behavior
no crash

### Actual behavior
<2019-04-02 13:14:52.640> Thread([28]) - AppDelegate.LogUnhandledException(Exception) (exception=System.Exception: CurrentDomainOnUnhandledException ---> System.NullReferenceException: Object reference not set to an instance of an object
  at Plugin.DownloadManager.UrlSessionD

[2019-04-23 12:13] SimonSimCity commented on #113
Would you have time to write a PR for this? 😉

[2019-04-23 12:15] SimonSimCity commented on #113
Well ... according to the method that was called, there was an error, so it would be nice to know if the file could be downloaded - I guess not. But a detailed error message by iOS would help a lot. Otherwise we can only set the error-details to an empty string.

[2019-04-23 21:09] #111 closed, assigned to nobody

[2019-05-21 14:03] RuddyOne opened #114 "[Android] Error Code : 2062 (SQLITE_CANTOPEN_EMFILE)"
### Steps to reproduce

1. Queue a lot image files (jpg/pngs) (400+)

### Expected behavior
It downloads all files added to the queue

### Actual behavior
Crash on the following line:
[code]

that throws the following error:

[code]

### Configuration

**Platform:**
- [ ] iOS
- [x] Android
- [ ] UWP
- [ ] Other

**Device:**
- [ ] Simulator
- [X] Samsung Galaxy Tab S4

Sometimes this can cause `and

[2019-05-21 14:08] Ruddy2007 commented on #114
Didn't mean to add this, sorry!

[2019-05-22 06:50] SimonSimCity commented on #114
Strongly related to #24. Because you only experience it on Android, I'd blame it on the native implementation.

As a solution I propose to start on #34. I won't have time to take it on. Please let me know if you are and I'll provide you with the needed insights to this library to get the implementation straight.

[2019-05-23 14:23] RuddyOne commented on #114
@SimonSimCity It does appear to be Android crashing on this one.

I may have to start looking into #34. Any info you can give me would be a great help, both iOS and UWP downloader do not have issues within these plugins so I would like to keep it all together if possible.

[2019-07-05 13:55] Nagendra574 opened #115 "When i download videos In iOS Download Notification is not viewed"
1.On Downloading the video In iOS, Download Notification is not viewed.

**Platform:**
- [x] iOS

[2019-07-24 20:49] Azhy-Slemany opened #116 "Unable to download and parse m3u8 type files."
### Expected behavior
It should parse m3u8 files to a video extension and then download it.

### Actual behavior
It just downloads the m3u8 text file instead the video parts in the text file.

### Configuration

**Platform:**
- [x] iOS
- [x] Android

**Device:**
- [x] Simulator
- [x] Real device (Samsung Galaxy s4(I9505))

[2019-08-11 14:00] SimonSimCity commented on #115
I didn't integrate a notification on iOS devices ... Did I miss out on something?

[2019-08-11 14:03] SimonSimCity commented on #116
Well, this is all logic which you have to fit on top of it. The sore purpose of this library is to define a unified interface for downloading files. What you do with the files is all yours. You can (of course) write some logic that parses the m3u8 file and adds the individual files to the queue.

[2019-08-11 14:03] #116 closed, assigned to nobody

[2019-08-23 15:33] Nagendra574 commented on #115
Yes. We observed that Download Notification perfectly working in Android devices. But its not working iOS devices. So, can you please help us how can we achieve Download Notification in iOS devices using Xamarin Forms.
Thanks for your help.

[2019-08-26 17:59] SimonSimCity commented on #115
I haven't worked with Xamarin Forms, so I can't help you much here.

If you know how to set up a notification, you can register a handler for the event by passing an extended version of `UrlSessionDownloadDelegate` into the constructor of the iOS version of the download manager - this should help you getting on your way for a device specific implementation. You can also remove the native notificat

[2019-08-26 17:59] #115 closed, assigned to nobody

[2019-08-30 09:35] Nagendra574 commented on #115
HI,
    I don't  have an experience in IOS as well as swift please give the
related example or alternative suggestion .

Thanks in advance

On Mon, Aug 26, 2019 at 11:29 PM Simon Schick <notifications@github.com>
wrote:

[2019-09-21 16:01] grayter1 opened #117 "How can I show notification after file being downloaded?"
How can I show notification after file being downloaded?

There is no OnDownload event and your implementation does not inform user about it.

Can you help me?

[2019-09-21 16:02] #117 closed, assigned to nobody

[2019-10-08 11:42] grayter1 opened #118 "Downloading without internet"
I have implemented http server on raspberry which has own wireless network without internet access. I would like to transmit file via http but I can't - unless I connect raspberry to internet. I tried to debug but really don't know where problem occur. Raspberry server cannot have internet access - it is my client wish. Can you help me?

[2019-10-09 15:54] SimonSimCity commented on #118
Well, since this package is just a wrapper for the native solution given by either of the OSes, I guess you should look it up in one of the forums of either iOS or Android - depending on which platform you're facing the problem.

Closing this because it's about the internals of a native implementation I'm using here.

[2019-10-09 15:54] #118 closed, assigned to nobody

[2019-11-05 09:40] prenner0 commented on #101
Similar problem here with Samsung Galaxy A40 and Huawai P10 (both Android 9):
Download goes to FAILED immediately when downloading from a http URL. With https, we experience the same PAUSED state switch.
Clearing the Download Manager data does not solve the issue for us.

[2019-11-05 15:37] SimonSimCity commented on #101
@prenner0 can you confirm that it also happens using the sample application included in this repo?

[2019-11-07 10:29] prenner0 commented on #101
Will try the example as well - temporary fix for us: Use http instead of https and allow clear text transfer. Maybe the issue is due to the security settings of the download manager.

[2019-11-07 12:36] Nagendra574 opened #119 "How to know Download is completed ?"
please let me know How can I recognize the download file is completely downloaded or not. Is there any event is a fire. I am using Xamarin forms with MVVM

Thanks in advance.

[2019-11-12 07:53] SimonSimCity commented on #119
A look into the sample implementation (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/tree/develop/Sample) should give you the hint how to do it.

You only need to wait for the status of the file to switch to `completed` (https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/blob/develop/Sample/Droid/MainActivity.cs#L102)

[2019-11-12 07:53] #119 closed, assigned to nobody

[2019-12-24 06:41] Adeel984 opened #120 "Null Pointer exception when downloading file other than pdf"
[code]

### Steps to reproduce

1.
[code]

### Expected behavior
Should download the file as it does (PDF Files are downloading) the same are also downloading with my custom implementation on Android Download manager.

### Actual behavior
throws null pointer exception at Plugin.DownloadManager.DownloadFileImplementation.StartDownload

### Configuration

**Platform:**
- [x] iOS
- [ ] Android
- [ ]

[2020-01-09 16:08] SimonSimCity commented on #120
Please include more information. Can you reproduce this on a real device? Where in the system does it throw the exception? Can you please post a stack-trace from a debug-build of your application?

Better even would be you take the sample folder and modify the version in there so I can reproduce the error.

[2020-01-14 10:54] Adeel984 commented on #120
Thanks for your kind response. Actually the issue was with my URL. I faced similar issue while downloading with DownloadManager in Android.

[2020-01-14 10:54] #120 closed, assigned to nobody

[2020-02-13 12:01] chinni-nag commented on #57
@GeetSh  Can you please tell me how to show the notification for Download finished for Ios side, Android working fine. Please let me know how to do that. Thanks.

[2020-03-27 13:03] hamidish opened #122 "stop while downloading"
why file stop while downloading.
first show downloadprogress but stops and doesnt downloaded.

[2020-05-05 18:24] drewkeller commented on #101
Yes, it happens for me with the example project using the Android device emulator that Visual Studio instantiates (emulating a Pixel of some flavor). Simply updating the example project from Android 7.1 (which works) to Android 9.0 (compile and target options), causes the download to fail with HTTP error code 400.

The example is already using http (not https). Apparently beginning with Android 9.

[2020-05-06 02:20] drewkeller commented on #75
FYI see https://github.com/SimonSimCity/Xamarin-CrossDownloadManager/pull/121

[2020-06-02 21:24] SimonSimCity commented on #101
Could you please create a PR for this? I have quite little time at hand these days and am not actively involved with app development anymore. Therefore I can't guarantee to spend much time this repo in the foreseeable future.

[2020-06-16 16:45] kanderson-wellbeats opened #123 "UWP IDownloadFile.Url is null when restarting download after restarting app"
To help us fix your issue, please provide the information in the below template.

I'm sorry, I tried to reproduce the bug in the sample project but without doing any changes first I tried running it and it just blew up with a bunch of exceptions that I couldn't resolve.

### Steps to reproduce

1. On UWP, start a download.
2. Quit the app
3. Relaunch the app
4. Note that the download continues aut

[2020-08-04 07:38] youceflebid opened #124 "PathNameForDownloadedFile not executing"
Hello,

First, I would like to thank you for your plugin.
I works perfectly on Android.

But I am having a hard time making it work in iOS.
I have an old Iphone 5 with iOS 10.3.4.

The problem, exactly, is that the function i am setting up for PathNameForDownloadedFile is not executing when i call CreateDownloadFile.

The download is initialised but the function is not called.

Here is a code samp

[2020-08-16 12:12] SimonSimCity commented on #124
True, and this is expected. Since I had to unify the way iOS and Android do the download of files, I had to do it the following:

iOS requires the localtion for the final path first after the download is done, Android requires it when it starts the download. This requires you to create a function which - whenever called - can generate the path based on the given file-uri.

The data of what you hav

[2020-08-16 12:12] #124 closed, assigned to nobody

[2020-08-16 12:21] SimonSimCity commented on #123
I didn't have a lot of time to test the UWP solution. If you see bugs, you're free to help finding and fixing them. Since you run on Windows - what's your intention for using this package?

The UWP solution was just developed with Windows Phones in mind and has been mostly abandoned as Windows Phones left the market.

[2020-08-16 12:22] SimonSimCity commented on #122
Please provide me with at least the information the template of an issue requires. Closed due to lack of basic information.

[2020-08-16 12:22] #122 closed, assigned to nobody

[2020-08-18 20:56] kanderson-wellbeats commented on #123
I'm using it for a cross-platform app that includes desktop Windows. I tried to find the fix myself but as I mentioned in my first comment I had a hard time getting it to build right out of the gate. I might be able to find the time to try it again soon. I like the package.

I was able to find a workaround though - I wanted to use the URL in order to tell one download from another, but in the end

[2020-08-20 18:55] fusionconsulting opened #125 "HandleEventsForBackgroundUrl not called when app terminated"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1. Start a download

2. Terminate the app

3. HandleEventsForBackgroundUrl should be called but it's not.

### Expected behavior
The app should be restarted and allow the download process to finish by setting the IDownloadFile status to COMPLETE and firing the property changed handler.

### Ac

[2020-08-20 23:20] SimonSimCity commented on #125
Can you confirm this by using the sample application provided in this repository?

[2020-09-15 18:35] jervaughan opened #126 "Can't Get CrossDownloadManager to Work on iOS!"
I am having major issues getting CrossDownloadManager to initiate for a Xamarin iOS project.  The Android version of the project works fine.

When debugging with the simulator I did have an error trying to access files on a HTTP site, so I added entries for NSAppTransportSecurity to my Info.plist.  This fixed the issue and allowed threads to start, but nothing is being downloaded and the threads n

[2020-09-15 19:49] SimonSimCity commented on #126
@JerVaughan Can you please try the sample application which is part of this repo and see if you have problems there as well?

[2020-09-15 21:50] jervaughan commented on #126
Hi SimonSimCity,

Yes, the sample application appears to work fine with iOS.  I added the following to AppDelegate.cs, and I can see the files in the ~/Library/Developer/CoreSimulator/.../Documents/ folder on my brand new Mac Mini when running the iOS Simulator (iPhone iOS 13.7).

If I'm specifying "Environment.SpecialFolder.MyDocuments" as the PathNameForDownloadedFile, then where should I expect

[2020-09-15 22:04] jervaughan commented on #126
FYI... I can also see the downloaded file when running the iOS Simulator on my real app too, so it is working.  The sample app helped me locate where to find the files on my Mac Mini that's connected to Visual Studio.

I think I'm just confused as to where to locate the files once the IPA is distributed/installed & files are downloaded on real devices.

[2020-09-15 23:19] jervaughan commented on #126
Additional followup... I can also see the file on my iPad Mini if it's connected to iTunes on my PC after adding the following to Info.plist:

[code]

So I'm getting closer, but my goal is to be able to see the downloaded file in the "Files" app on my iPad... preferably in the "On My iPad" browsing section.

[2020-09-16 16:56] SimonSimCity commented on #126
Ok, this is a different topic which you'd have to look up yourself - I haven't looked into this yet. As far as I know, the iOS internal download manager downloads the file into an app internal space, but how to move it from there to another place is something I don't known how to do.

Wish you all the best. Feel free to post the solution here once you found it.

Closing this issue because the requ

[2020-09-16 16:56] #126 closed, assigned to nobody

[2020-09-16 18:17] jervaughan commented on #126
Simon,

Please take a look at this link, particularly the section in the screenshot below.  Since iOS 11, you can add the following to get the app’s documents to display in the “Files” app:

<key>LSSupportsOpeningDocumentsInPlace</key>
    <true />"

https://docs.microsoft.com/en-us/xamarin/ios/app-fundamentals/file-system

[cid:image001.png@01D68C33.96E24400]

Thanks!
Jeremy Vaughan
Software Engi

[2020-10-21 18:13] shakazulu89 opened #127 "Random PAUSED - WAITING TO RETRY"
Hey and thank you for this library.

Has anyone come across this issue where downloads on android (both emulator and real device, both small and large files, can happen either at the start of file download or in middle of transfer for example when bytes were already written) seem to randomly hit a "PAUSED - WAITING TO RETRY" status before the downloader tries to continue the download and then it f

[2020-10-21 19:12] SimonSimCity commented on #127
Can you please answer some questions on this?

* Does this happen with the sample app as well?
* Does this only happen on Android, have you tested the other platforms?
* Is the download always reported as finished right after resuming, even if there are bytes left?
* Is the network you're connected to stable?

[2020-10-21 21:19] shakazulu89 commented on #127
- I will try with sample app tomorrow

- I don't have apple devices to try on iOS

- it continues the download where it left off I'm pretty sure. Will confirm tomorrow

- yes I have a solid network.

[2020-10-22 13:46] shakazulu89 commented on #127
i havent tried the sample app yet but i did try to use different files to make sure it hasnt to do with my server and the issues is still happening when i try to use this link for downloading:
https://file-examples-com.github.io/uploads/2017/10/file-example_PDF_1MB.pdf

and i did confirm it simply pauses randomly somewhere in the download and then continues after 20 seconds or so...

any ideas wha

[2020-10-22 21:44] shakazulu89 commented on #127
update: i tried the sample app using the file i sent in my previous comment and same thing is happening. not always, but after clicking download 3 times the downloader went into "Paused.WaitingToRetry".

i was also thinking what would be the best way to make the downloader immediately retry to download again instead of waiting around 30 seconds before retrying... ?

i would really appreciate any h

[2020-10-26 12:06] shakazulu89 commented on #127
it seems to only happen on the emulator. i remember checking on device and it happened but now i cant recreate it so i will close this ticket ...

[2020-10-26 12:06] #127 closed, assigned to nobody

[2020-10-28 07:37] SimonSimCity commented on #127
I didn't have much time until now to test this, and haven't heard of others having this issue. Feel free to request a re-opening as you see it appearing again.

Seems to be another issue which might be solved by implementing a custom download manager for Android #34

[2020-11-05 14:09] ColdstarJoey opened #128 "Download starts then straight away stops"
when downloading a file on button press it shows the download icon on the status bar for like a spilt second the goes away.

I believe this is failing as its not in the file manager anywhere. I have the permissions. does anyone else have this issue ?

[2020-11-10 21:12] SimonSimCity commented on #128
Can you confirm this issue by using the sample provided in this project? And can you tell more about e.g. which OS you use or if it also happens in the simulator?

[2021-02-03 10:15] nziosys commented on #127
I'm facing a similer issue. Only on simulator and randomly the download pauses about 99% or less, than retries and fails.

[2021-07-22 17:19] OneMiay commented on #128
Yes I have this issue. Xiaomi redmi note 9 pro Android 10

[video](https://youtu.be/eEHZBce6zgM)

[2021-07-23 10:02] janwiebe-jump opened #129 "Android: GetUriForDownloadedFile(downloadedFile.Id) sometimes returns null"
### Steps to reproduce

1. Setup up the download manager for Android, and use the HandleDownloadFileStatusChanged event

2. When the status becomes "completed", check for the uri of the downloaded file by calling:

[code]

3. Sometimes the variable source is null

### Expected behavior
Variable source should never be null

### Actual behavior
According to our AppCenter logs source is sometimes nul

[2021-07-24 15:03] SimonSimCity commented on #129
This is part of the native Android implementation - please take a look at the Android documentation. Maybe the sample I wrote there is outdated and there are better ways of accessing the file - haven't used this library in a while ...

Feel free to write a pull request or any additional information which might help others to pick up on this.

[2021-07-24 15:05] SimonSimCity commented on #128
@OneMiay Does it also happen in the Android simulator, or do I need to buy a new device to test this? 😅

You're also very welcome to fix it on your own and provide a PR.

[2021-08-25 02:41] SunshineSpring666 opened #130 "MAUI Compatibility"
Hi Simon,
    The CrossDownloadManager is perfect.
    Are there any plan of releasing a version which works with MAUI preview (the enhancement version of Xamarin)?
    Thanks a lot.

    Best Regards,
    Sunshine

[2021-08-27 14:46] lacielsa commented on #126
Hi @JerVaughan . Could you tell me if  you get CrossDownloadManager to Work on iOS?. If so, could you tell me how you did it?

[2021-08-29 14:23] SimonSimCity commented on #130
@SunshineSpring666 Thanks for the feedback. I've not worked with Xamarin in quite some years now - and the market obviously has moved on from where it was back then.

If you see the need, I want to encourage you and all others reading this, to do what it takes and share your work with the community here via my repo or a fork.

[2021-08-30 06:49] SunshineSpring666 commented on #130
OK. Thanks for your reply.

[2021-10-08 10:56] hamidish opened #131 "android 10+"
hi i use this package and it worked but in android 10+ not worked
and had error:
Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1701	Package 'Xam.Plugins.DownloadManager 1.4.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' in

[2022-03-26 16:00] SunshineSpring666 opened #132 "Xamarin dependency requirement issue with MAUI"
Hi Simon,
    I tried to make it run with MAUI, the next version of Xamarin. It seems that the Xamarin dependency requirement is blocking the App from running.
    I've seen other 3rd-party xamarin nuget packages run normally in a MAUI project. So I'm wondering if you could remove the Xamarin dependency requirement or pack another package like this, so that this wonderful library could provide its

[2022-03-29 19:00] SimonSimCity commented on #132
Hey, I have to say that my interest has shifted away from app development with Xamarin. If anyone has the time, your contribution is always welcome!

In case you want me to do it, this might take some time until I go back on this project again. After all, I was just doing this in my free time. It would be different if someone would pay me for the job...

[2022-03-30 09:06] SunshineSpring666 commented on #132
I see. Thanks for your reply.

[2022-03-30 09:06] #132 closed, assigned to nobody